.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	color: #fff;
}
/*头部*/
.head{
	height: 390px;
	background-color: #e687ff;
	font-size: 12px;
	font-family: "微软雅黑";
	position: relative;
}
.head .head_main{
	width: 750px;
	margin: 0 auto;
	
}
.head_main .top{
	height: 54px;
	line-height: 54px;
}
.nav .line{
	width: 1px;
	height: 8px;
	background-color: #fff;
	margin: 23px 10px 0;
}
.head_main .logo{
	padding-top: 47px;
}
.logo .circle{
	width: 134px;
	height: 134px;
	border-radius: 50%;
	background-color: #faeadb;
	margin: 0 auto;
	overflow: hidden;
}
.circle img{
	width: 134px;
	height: 134px;
}
.logo p{
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
}
.head .bottom_icon{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-left: -45px;
	position: absolute;
	left: 50%;
	bottom: -35px;
	background-color: #e687ff;
}
.bottom_icon img{
	position: absolute;
	left: 28px;
	top: 45px;
}
/*关于我*/
.aboutMe{
	/*height: 340px;*/
	padding: 50px 0;
	background-color: #e9dcd3;
}
.aboutMe .title{
	width: 110px;
	height: 0;
	padding-top: 18px;
	background: url(../images/abTitlt.png) no-repeat;
	margin: 0 auto;
	overflow: hidden;
}
.aboutMe .aboutMe_content{
	width: 750px;
	margin: 0 auto;
}
.aboutMe_content img{
	display: block;
	margin: 20px auto;
}
.aboutMe_content .aboutMe_info{
	width: 500px;
	padding-top: 24px;
	line-height: 22px;
	color: #605b55;
	font-size: 12px;
	font-weight: bold;
	margin: 0 auto;
}
.aboutMe_info .summary{
	/*width: 265px;*/
	height: 52px;
	border-bottom: 2px solid #9ee9ca;
	margin-bottom: 20px;
}
.aboutMe_info .detail{
	line-height: 30px;
}
/*技能*/
.skills{
	background-color: #fff;
	position: relative;
	padding: 50px 0;
}
.skills .skills_head{
	width: 90px;
	height:90px;
	border-radius: 50%;
	margin-left: -45px;
	position: absolute;
	left: 50%;
	top: -50px;
	background-color: #e9dcd3;
}
.skills_head .title{
	width: 55px;
	height: 19px;
	display: inline-block;
	background: url(../images/skills_03.png) no-repeat;
	margin: 57px 0 0 18px;
}
.skills .skills_main{
	width: 750px;
	margin: 0 auto;
}
.skills_main .main_title{
	width: 180px;
	height: 21px;
	background: url(../images/skillswhat_03.png);
	margin: 0 auto;
}
.skills_main .main_list{
	padding-top: 56px;
}
.skills_main .main_list li{
	width: 20%;
	text-align: center;
}
/*作品*/
.work{
	background-color: #fef1e4;
	position: relative;
	padding: 50px 0;
}
.work .skills_head{
	background-color: #fff;
}
.work .skills_head .title{
	background: url(../images/work_03.png);
}
.work .works_info{
	width: 750px;
	margin: 0 auto;	
}
.works_info li{
	margin: 20px 27px;
	position: relative;
	overflow: hidden;
}
.works_info li .mask{
	width: 600px;
	height: 0px;
	background-color: rgba(255,255,255,.9);
	position: absolute;
	left: -320px;
	top: 0px;
	transition: 1s;
	text-align: center;
	line-height: 35px;
	opacity: 0;
	color: #000;
	font-size: 12px;
	text-indent: 2em;
}
.works_info li:hover .mask{
	left: 0;
	width: 320px;
	height: 240px;
	opacity: 1;
}
/*联系我*/
.contact{
	height: 200px;
	background-color: #fe5240;
	position: relative;
}
.contact .skills_head{
	background-color: #fef1e4;
}
.contact .skills_head .title{
	background: url(../images/contanct_03.png);
}
.contact .skills_main .main_title{
	width: 158px;
	height: 20px;
	background: url(../images/cotact1_03.png);
}
.skills_main .detail{
	padding-top: 40px;
	height: 100px;
}
.detail .item{
	height: 44px;
	line-height: 44px;
	font-family: arial;
}
.detail .item span{
	width: 38px;
	height: 44px;
	display: inline-block;
	margin-right: 18px;
}
.detail .item:nth-of-type(1) span{
	background: url(../images/Email_03.png);
}

.detail .item:nth-of-type(2) span{
	background: url(../images/Mobile_03.png);
}
.contact .bottom{
	width: 224px;
	height: 32px;
	background: url(../images/foot_03.png);
	margin: 0 auto;
}
.nav .active{
	color: #FF4400;
}
/*返回顶部*/
#toTop{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #000000;
	font-weight: bold;
	font-family: "微软雅黑";
	border-radius: 50%;
	background-color: rgba(144,138,146,.8);
	position: fixed;
	bottom: 20px;
	right: 20px;
}
