.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.box{
	width: 98%;
	margin: 0 auto;
}
.box .screen{
	width: 100%;
	background-color: #fff;
	margin-bottom: 40px;
}
.screen .head{
	width: 100%;
	height: 39px;
	background-color: #1eb4ab;
	border-top: 1px solid #d4d4d6;
}
.head h3{
	font-weight:normal;
	font: 18px/39px "微软雅黑";
	color: #eaf5f7;
	margin-left: 15px;
}
.screen .content{
	width: 100%;
	height: 300px;
	
}
.content .guanjian{
	width:100%;
	height: 100%;
	padding-top:30px;
	background-color: #fff;
	border-bottom:1px solid #e5e5e5;
}
.guanjian h4,.huanzhe h4,.dingdan h4{
	font: 16px "微软雅黑";
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}
.dataDiv input{
	width: 120px;
	height: 30px;
	border: 1px solid #d6d6d8;
}

.guanjian .dataDiv,.huanzhe .dataDiv,.dingdan .dataDiv{
	margin-left: 15px;
	margin-bottom:20px ;
	font-size: 14px;
	color: #595959;
}
.guanjian .choice{
	display:none;
}
.guanjian #choice{
	width: 450px;
	overflow: auto;
	height: 130px;
	padding-left: 15px;
}
.guanjian #choice2{
	width: 450px;
	overflow: auto;
	height: 130px;
	/* display: none; */
	padding-left: 15px;
}

.guanjian .sel,.huanzhe .sel,.dingdan .sel{
	width: 153px;
	height: 25px;
	border: 1px solid #d6d6d8;
	margin-right: 10px;
}
#choice li{
	color: #595959;
	margin-bottom: 10px;
	font-size:12px;
}

#choice .region{
	height:27px;
}
#choice .region .delete{
	font-size:14px;
}
#choice .region span{
	line-height: 27px;
}
.guanjian .prompt{
	position: absolute;
	margin-top:7px;
	left:500px;
	color:red;
	display:none;
}
.guanjian .prompt2{
	position: absolute;
	margin-top:7px;
	left:500px;
	color:red;
	display:none;
}
.guanjian .prompt3{
	position: absolute;
	margin-top:7px;
	left:450px;
	color:red;
	display:none;
}
#choice .region span{
	font-size: 16px;
	font-family: "微软雅黑";
	margin-right: 30px;
}
#choice2 .list2 li{
	font-size: 12px;
	color: #595959;
	margin-bottom: 10px;
}

#choice2 .dropDown{
	width:255px;
	position: absolute;
	left:80px;
	border:1px solid #ccc;
	border-top:none;
	z-index:100;
	background:#fff;
}
.dropDown li:hover{
	background:#ccc;
}
#choice2 .dropDown li{
	margin:0;
	line-height: 30px;
	font-size:14px;
	padding:0 10px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow:hidden;
}


#choice .delete,#choice2 .delete2,#choice .add,#choice2 .add2,.guanjian .timeAdd,.guanjian .timeDelete{
	height: 25px;
	padding: 0 10px;
	display: inline-block;
	background-color: #fff;
	border: 1px dashed #1eb4ab;
	font: 14px/25px "微软雅黑";
	text-decoration: underline;
	color:#1eb4ab;
	margin-left: 20px;
	cursor: pointer;
}
#choice .delete,#choice2 .delete2{
	margin-left:27px;
}

#choice2 .add2{
	margin-left: 333px;
}
.guanjian .timeAdd{
	margin-left: 329px;
}
#choice2 input{
	width: 255px;
	height: 25px;
	border: 1px solid #d6d6d8;
}
/*生成结果按钮*/
.analyBox{
	width: 100%;
	height: 55px;
	/* padding-top: 25px; */
}
.analyBox #analyInp{
	width: 96px;
	height: 32px;
	border: 1px solid #2268a4;
	border-radius: 5px;
	display: block;
	background-color: #347ab8;
	padding: 0 10px;
	font: 16px/32px "微软雅黑";
	color: #fff;
	margin: 0 auto;
	cursor: pointer;
}
.dataPresentation{
	display: none;
}

/*表格部分样式*/
.screen .tableBox{
	width: 100%;
}

.tableBox .tab{
	width: 100%;
}
.tab tr{
	height: 40px;
	text-align: center;
}
.tab td,.tab th{
	border: 1px solid #e6e6e6;
	text-align: center;
}
.tab th{
	font: 16px "微软雅黑";
	background-color: #d7d7d7;
	text-align: center;
}
.tab a:hover{
	text-decoration:underline;
}
.head .export{
	width: 160px;
	line-height: 39px;
	margin-right: 15px;
	margin-top: 10px;
}
.export span{
	height: 22px;
	background-color: #fff;
	font: 14px/22px "微软雅黑";
	padding: 0 6px;
	border-radius: 3px;
	cursor: pointer;
}
/*自定义单选框*/
.searchType label{
	position: relative;
	display: inline-block;
	z-index: 999;
	width: 50px;
	height: 25px;
	padding: 3px 10px 3px 25px;
}

 .radio+label:before{
	 content:"";
	 color:#fff; 
	 width: 15px;
	 height: 15px;
	 background: #777980;
	 border-radius: 8px;
	 position: absolute;
	 top: 4px;
	 left: 4px;
	 display:block;
	 box-shadow: 0px 0px 3px #A19797;
}
.radio+label:after{
	content: attr(title);
	width: 7px;
	height: 7px;
	display:block;
	border: 2px solid #F7F9F9;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 7px;
	background: #777980;
	box-shadow: 0px 0px 3px #F2EBEB;
}
.radio:checked+label:before{
	/* content:""; */
	background: #1caf9a;
	}

.radio:checked+label:after{
	background: #1caf9a;
}












