a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.calendar{
    border:1px solid #c5e6fd;
    width:97%;
    margin:15px 0 0 15px;
}
.calendar .top{
    background-color:#e6f5fd;
    padding:10px 20px;
    color:#1182c7;
}
.calendar .top span{
    color:#adadae;
}
.calendar .left{
    float:left;
    width:140px;
    color:#025095;
}
.calendar .left .cap{
    height:40px;
    background:url(../../images/schedule/left_top_bg.jpg) no-repeat;
    border-bottom:1px solid #acdcfc;
    border-top:1px solid #acdcfc;
    position:relative;

}
.calendar .left .cap>span:first-child{
    position:absolute;
    left:5px;
    bottom:5px;
}
.calendar .left .cap>span:last-child{
    position:absolute;
    right:5px;
    top:5px;
}
.calendar .left li{
    margin-top:50px;
    text-align:center;
}
.calendar .left a{
    color:#025095;
    display:block;
    height:50px;
    text-align:center;
}
.calendar .left a img{
    display:block;
    padding:10px 47px;
}
.calendar .right{
    margin-left:140px;
}

.calendar table{
    width:100%;
    table-layout:automatic;
}
.calendar th,.calendar td{
    border:1px solid #d1ecfd;
    padding:5px;
}
.calendar tr{
    height:70px;
}
.calendar tr:first-child{
    height:30px;
   line-height:30px; 
}
.calendar th:last-child{
    color:#3dc061;
}
.calendar th:first-child{
    color:#f94103;
}
.calendar td{
    position:relative;
}
/* .calendar td>span{
    position:absolute;
    right:5px;
    bottom:8px;
    color:#fff;
} */
.calendar td span.selected{
	font-size:20px;
	color:#e81010;
	display:none;
	position:absolute;
	right:5px;
	top:0;
}
.calendar td span.active{
	display:block;
}
.bg1{
    background:url(../../images/schedule/cannot_red.jpg) repeat-x left center;
}
.bg2{
    background:url(../../images/schedule/can_green.jpg) repeat-x left center;
}
.time_bg1{
    background:url(../../images/schedule/am_day.jpg) no-repeat;
    background-size:100% 100%;
}
.time_bg2{
    background:url(../../images/schedule/pm_day.jpg) no-repeat;
    background-size:100% 100%;
}
.time_bg12{
    background:url(../../images/schedule/all_day.jpg) repeat-x left center;
}




.bg{
    background:#000;
    opacity:0.75;
    filter:alpha(opacity=75);
    z-index:10;
   	display:none;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
.pop_window{
    z-index:11;
    display:none;
    width:980px;
    /*border:1px solid #c5e6fd;*/
    background:#fff;
    position:absolute;
    left:50%;
    margin-left:-500px;
    top:200px;
    border-radius:10px;
    height:520px;
    overflow:hidden;
}
td.bg_gray {
	color:#d8d8d8;
}
td.bg_gray span {
	color:#969696;
}