.timeOrder table{
    border:1px solid #acdcfc;
    border-collapse: collapse;
}
.timeOrder td{
    text-align: center;
    border:1px solid #acdcfc;
    font-size:16px;
}
.timeOrder td input{
    width: 50px;
    height:auto;
    border: none;
}
.timeOrder td input[type="text"]{
	height:20px;
}
.timeOrder select{
    width:70%;
}
.content-box{
	margin-left:auto;
	margin-right:auto;
	margin-top:150px;
}
.morningtime li,.afternoon li{
    float:left;
    width:50%;
}

.timeOrder td.morningtime,.timeOrder td.afternoon {
	text-align:left;
}