/*公用样式*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fl img{
	width: 150px;
	height: 150px;
}
.fr{
	float: right;
}
.wrap{
	margin: 0 auto;
	border: 10px solid #e6e6e6;
}
.head{
	height: 40px;
	line-height: 40px;
	background-color: #1eb4ab;
	font:14px/40px "微软雅黑";
	color: #fff;
	text-indent: 2em;
	margin-bottom: 30px;
}
.main{
	
}
.main dl{
	margin-bottom: 10px;
	padding-left: 20px;
}
.main dl dt{
	width: 80px;
	text-align: justify;
}

.main dl dd{
	width: 80%;
	position: relative;
	word-break: break-all;
}
.main dl dd input{
	border: 1px solid #d5d5d5;
}
.main dl dd textarea{
	width: 100%;
	height: 100px;
	border: 1px solid #d5d5d5;
	display: inline-block;
}
.main dl dd .imagebox{
	width: 100%;
	min-height: 100px;
	border: 1px solid #d5d5d5;
	
}
.imagebox_upload li,.imagebox_upload div{
	width: 120px;
	height: 100px;
	border: 2px solid #cccccc;
	margin:5px;
	line-height: 100px;
	text-align: center;
	font-size: 100px;
	color: #ADADAD;
	position: relative;
	
}
.imagebox_upload li img{
	vertical-align: top;
	width: 100%;
	height: 100px;
}
.imagebox_upload li .remove{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.imagebox_upload div .file{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

/*.main dl dd .fileEle{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}*/

/* .submit_message{
	text-align: center;
	margin: 10px 0 20px 0;
}
.submit_message input{
	width: 100px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #E6E6E6;
} */
.submit_message .submit_div{
	text-align: center;
	height: 60px;
	line-height: 60px;
}


/*留言详情*/
.handleRecord .handleRecord_head{
	height: 40px;
	background-color:#cccccc;
	font:14px/40px "微软雅黑";
	color: red;
	text-indent: 2em;
}
.handleRecord_head #reply_advice_btn{
	height:30px;
	padding:0 5px;
	float:right;
	margin-top:6px;
	margin-right:25px;
	background-color:#169bd5;
	border:none;
	border-radius: 3px;
	font:14px/30px "微软雅黑";
	color:#fff;
}
.handleRecord table{
	margin-bottom: 20px;
}
.handleRecord tr{
	height: 30px;
	line-height: 30px;
}
.handleRecord th{
	font-weight: normal;
	text-align: center;
}
.handleRecord th,.handleRecord td{
	border: 1px solid #e1e1e1;
	word-break: break-all;
	text-align: center;
}
