/*底部*/
.foot{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
}
.foot .bg{
	width: 100%;
	height: .4rem;
	background: -webkit-linear-gradient(top, #dfdfdf 0% , #dfdfdf 55%, #dddddd 60%,#d8d8d8 68%,#d1d1d1 76%,#c8c8c8 84%,#bebebe 88%,#b6b4b5 92%,#b0aeaf 96%,#acacac 100%);
}
.foot .foot_btns{
	height: 2.25rem;
	line-height: 2.25rem;
	background-color: #fff;
	border: 1px solid #dddddd;
	font-size: 0;
}
.foot_btns a{
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: .8rem;
	color: #0EABD4;
	text-align: center;
	display: inline-block;
}