.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.borderR{
	border-right: 1px solid #BFBFBF;
}
.W300{
	width: 7.5rem;
}
.noMarginB{
	margin-bottom: 0;
}
.noMarginR{
	margin-right:0;
}
.W3rem{
	width: 3rem;
}
.foot .hide,.hide{
	display: none;
}
.errorInput{
	border-color: red !important;
}
.hidden{
	display: none;
}
