.vedio{
	/*width: 1280px;*/
	height: 600px;
	background: url(../images/scroll_bg.png) no-repeat;
	background-size: 100%;
}
.vedio a{
	width: 1280px;
	height: 600px;
	display: block;
	margin: 0 auto;
}
/*公司简介*/
.aboutUS{
	width: 1280px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}
.aboutUS .title{
	width: 610px;
	height: 88px;
	background: url(../images/about/aboutUs_title.png) no-repeat;
}
.aboutUS .title h3{
	font-size: 18px;
	line-height: 22px;
	color: #b3bdc4;
	text-align: right;
	padding-top: 50px;
	padding-bottom: 16px;
	border-bottom: 1px solid #dfe3e6;
}
.aboutUS .aboutUS_content{
	padding-left: 216px;
}
.aboutUS .aboutUS_content>.info{
	width: 395px;
	color: #838383;
	font-size: 14px;
	line-height: 24px;
	margin-right: 130px;
	padding-top: 30px;
	text-indent: 1em;
}
/*产业架构*/
.industry{
	/*width: 1280px;*/
	padding-bottom: 40px;
	background-color: #0b3753;
	position: relative;
}
.industry .title{
	height: 50px;
	border-bottom: 1px solid #07507f;
	position: relative;
}
.industry .title h3{
	width: 240px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: url(../images/about/jiagou_title.png);
	color: #019adb;
	position: absolute;
	left: 50%;
	top: 20px;
	margin-left: -120px;
	background-color: #0b3753;
}
.industry .industry_content{
	padding-top: 65px;
	padding-left: 30px;
	position: relative;
}
.industry .industry_content>ul.item{
	margin-bottom: 30px;
	font-size: 14px;
	text-align: center;
}
.industry_content>ul.item li{
	width: 198px;
	height: 48px;
	line-height: 48px;
	border: 1px solid #0083d7;
	background-color: #0b3753;
	color: #f8f8f8;
	margin-right: 50px;
	display: inline-block;
	cursor: pointer;
	transition: 0.5s;
}
.industry_content>ul.item li.active{
	border-color: #0083d7;
	background-color: #08263a;
}
.industry .industry_content .map{
	width: 620px;
	height: 480px;
	margin: 0 auto;
	transition: 1s;
	position: relative;
}
.industry .industry_content .detail{
	position: absolute;
	right: 0;
	top: 0;
}
.industry .industry_content .detail ul{
	display: none;
}
.industry .industry_content .detail li{
	width: 100px;
	height: 50px;
	margin-bottom: 13px;
}
.industry .industry_content .detail li.active{
	cursor: pointer;
}
/*发展历程*/
.develop{
	width: 1280px;
	margin: 0 auto;
	padding: 0 30px;
}
.develop .title{
	font-size: 18px;
	color: #afbac1;
	line-height: 86px;
	text-align: center;
	padding-bottom: 30px;
}
.develop .develop_content{
	
}
.develop .develop_content .date{
	height: 90px;
	border-top: 1px solid #dadfe2;
	border-bottom: 1px solid #dadfe2;
}
.develop_content .date .item{
	width: 48px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
}
.develop_content .date li:nth-of-type(18){
	margin-right: 0;
}
.develop_content .date .item>.icon{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #afbac1;
	position: relative;
	display: block;
	margin: 24px 0 0 18px;
	transition: 0.5s;
}
.develop_content .date .item>.icon:after{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 3px;
	top: 3px;
	content: "";
	transition: 0.5s;
}
.develop_content .date .item>.year{
	line-height: 32px;
	color: #b7c1c7;
	font-size: 14px;
	transition: 0.5s;
}

.develop_content .date li.active>.icon{
	background-color: #0083d7;
}
.develop_content .date li.active>.year{
	color:#0083d7;
}
.develop_content .date li:hover .icon{
	background-color: #0083d7;
}
.develop_content .date li:hover .year{
	color:#0083d7;
}
.develop .develop_content .event{
	height: 210px;
	padding-top: 20px;
	font-size: 14px;
	line-height: 36px;
	color: #6b6b6b;
	text-align: center;
}
/*企业荣誉*/
.honor{
	
}
.honor>.main{
	width: 1280px;
	margin: 0 auto;
}
.honor .honor_content{
	padding-top: 70px;
}
.honor_content .prev,.honor_content .next{
	width: 20px;
	height: 66px;
	margin: 130px 30px 0;
}
.honor_content .prev{
	background: url(../images/about/honor_prev.png);
}
.honor_content .next{
	background: url(../images/about/honor_next.png);
}
.honor_content .main{
	width: 1120px;
	height: 320px;
	position: relative;
	overflow: hidden;
}
.honor_content .main>ul{
	position: absolute;
	left: 0;
	top: 0;
}
.honor_content .main li{
	width: 360px;
	height: 320px;
	background-color: #fff;
	padding: 40px 30px 0 40px;
	font-size: 14px;
	line-height: 18px;
	color: #535353;
	margin-right: 20px;
}
.honor_content .main li>p{
	margin-bottom: 10px;
}
.honor_content .main li>h5{
	color: #000000;
	font-size: 20px;
	margin-bottom: 20px;
	font-style: italic;
}
/*管理团队*/
.team{
	width: 1280px;
	margin: 0 auto;
	height: 214px;
	padding-top: 40px;
	
}
.team .title{
	width: 270px;
	font-size: 18px;
	line-height: 168px;
	background: url(../images/about/team_title.png) no-repeat;
	text-align: center;
	color: #b6c0c6;
	margin-right: 25%;
}
.team .team_content{
	padding-top: 35px;
	color: #b6c0c6;
	font-size: 14px;
	line-height: 24px;
}
.team .team_content>li{
	width: 294px;
	height: 52px;
}
.team .team_content img{
	margin-right: 10px;
}
.team .team_content strong{
	padding-top: 10px;
	color: #343434;
}
.logo{
	margin: 0 auto;
	height: 220px;
	line-height: 220px;
	font-size: 30px;
	color: #fff;
	background-color: #0B3753;
	text-align: center;
}
/*乐普大家庭*/
.family .title{
	background: url(../images/about/family.png) no-repeat;
}
.family .family_content{
	padding-left: 40px;
	padding-top: 40px;
}
.family .family_content>li{
	width: 300px;
	height: 300px;
	position: relative;
}
.family .family_content>li .bg{
	background-color: #fff;
	opacity: .6;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.family .family_content>li p{
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.family .family_content>li:hover .bg{
	display: block;
}

.family .family_content>li:hover p{
	display: block;
	line-height: 300px;
	text-align: center;
	
}
/*企业架构弹窗*/
.alert{
	width: 100%;
	height: 100%;
	
	padding: 50px;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	display: none;
}
.alert .bg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000000;
	opacity: 0.5;
}
.alert .content{
	width: 1000px;
	height: 500px;
	padding: 50px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 170px;
	margin-left: -500px;
	/*z-index: 100;*/
}
.alert .content .close{
	color: #50bfee;
	font-size: 40px;
	position: absolute;
	right: 30px;
	top: 20px;
	cursor: pointer;
}
.alert .content .text{
	line-height: 24px;
	font-size: 14px;
	color: #232323;
	padding-top: 30px;
	padding-left: 30px;
	text-indent: 1em;
}
.alert .content .text p a{
	color: #50bfee;
}