/*留言*/
.advice{
	width: 1280px;
	margin: 0 auto;
	height: 577px;
	background-color: #0b3753;
	position: relative;
}
.advice .bg{
	width: 50%;
	
}
.advice .advice_info{
	width: 55%;
	height: 450px;
	padding-left: 80px;
	padding-top: 25px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 60px;
	
}
.advice .advice_info .main{
	width: 400px;
	color: #afbac1;
	font-size: 16px;
}
.advice .advice_info .main span{
	line-height: 56px;
}
.advice_info .main input{
	height: 45px;
}
.advice_info .main input,.advice_info .main textarea{
	width: 398px;
	padding-left: 20px;
	border: 1px solid #7898b3;
	margin-bottom: 15px;
	font-size: 14px;
}
.advice_info .main textarea{
	height: 120px;
	resize: none;
}
.advice_info .main .btn{
	width: 198px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border: 1px solid #003d70;
	color: #003d70;
	margin: 10px auto;
	font-size: 12px;
}
/*公司信息*/
.company{
	width: 1280px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.company li{
	border-bottom: 1px solid #d4dade;
	padding-top: 25px;
	padding-bottom: 35px;
}
.company li .main{
	width: 480px;
	margin: 0 auto;
}
.company .company_logo{
	width: 146px;
	height: 146px;
	margin-right: 65px;
}
.company .company_info{
	color: #888888;
	font-size: 12px;
	line-height: 26px;
}
