
/*底部*/
footer{
	/*width: 1280px;
	margin: 0 auto;*/
	padding-bottom: 20px;
}
footer .contact{
	width: 1280px;
	margin: 0 auto;
	padding-left: 50px;
}
footer .contact a{
	font-size: 14px;
	line-height: 46px;
	color: #7f9097;
	margin-right: 34px;
}
footer .about{
	width: 1280px;
	margin: 0 auto;
	padding-left: 50px;
}
footer .about .logo{
	width: 120px;
	height: 58px;
	background: url(../images/logo.png) no-repeat;
}
footer .about .about_info{
	padding-top: 10px;
	margin-left: 18px;
	font-size: 12px;
	color: #949494;
	line-height: 28px;
}