/*.container{
	width: 1280px;
	margin: 0 auto;
}*/
/*头部导航*/
.head{
	width: 1280px;
	padding: 10px 40px;
	position: relative;
	margin: 0 auto;
}
.head .logo{
	width: 100px;
	height: 0;
	padding-top: 49px;
	margin-right: 40px;
	overflow: hidden;
	background: url(../images/logo.png);
	position: relative;
}
.head .logo a.toIndex{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.head .topnav{
	font-size: 16px;
	line-height: 34px;
	padding-top: 15px;
	font-family: "microsoft yahei";
	/*font-weight: bold;*/
}
.head .topnav>li{
	margin-right: 50px;
	position: relative;
}
.head .topnav>li.active{
	color: #00a1e5;
}
.head .topnav>li:hover{
	color: #00a1e5;
}
.head .search{
	padding-top: 15px;
}
.head .search .search_icon{
	width: 18px;
	height: 18px;
	margin-top: 8px;
	background: url(../images/search.png);
	display: inline-block;
	cursor: pointer;
}
.head .language{
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	margin-top: 23px;
	margin-right: 12px;
	color: #666666;
}
/*二级导航*/
.head .nav_detail{
	border-top: 1px solid #c3c3c3;
	/*padding: 0 40px 28px 40px;*/
	/*padding: 0 0 28px 0;*/
	position: fixed;
	left: 0;
	top: 69px;
	right: 0;
	z-index: 2;
	background-color: #fff;
	display: none;
}
.head .nav_detail .business{
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	padding: 20px 0;
	display: none;
}
.head .nav_detail .business>a{
	height: 20px;
	line-height: 20px;
	border-left: 1px solid #d9dfe2;
	border-right: 1px solid #d9dfe2;
	padding: 0 30px;
	color: #666666;
	display: inline-block;
	/*margin-top: 30px;*/
	font-size: 14px;
	margin-right: -1px;
}
.head .nav_detail .business li{
	width: 300px;
	text-align: left;
}
.head .nav_detail .business h3{
	font-size: 14px;
	line-height: 80px;
	text-indent: 8px;
}
.head .nav_detail .business .business_info{
	height: 250px;
	border-right: 1px solid #b0bbc1;
	font-size: 14px;
	line-height: 30px;
	color: #737c81;
	text-indent: 20px;
}