.big_img{
	/*width: 1280px;*/
	height: 220px;
	/*margin: 0 auto;*/
	background: url(../images/invest.png) no-repeat;
	background-size: 100%;
}
.invest{
	width: 1280px;
	margin: 22px auto 0 auto;
	font-size: 14px;
}
.invest .invest_head{
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 30px;
}
.invest .invest_head .top{
	padding-bottom: 30px;
	text-align: center;
	font-size: 0;
	/*border-bottom: 1px solid #e3e3e3;
	margin-bottom: 30px;*/
}
.invest .invest_head .top a{
	height: 20px;
	line-height: 20px;
	border-left: 1px solid #d9dfe2;
	border-right: 1px solid #d9dfe2;
	padding: 0 30px;
	color: #666666;
	display: inline-block;
	font-size: 14px;
	margin-right: -1px;
}
/*.invest .invest_head .bottom{
	text-align: center;
	
}
.invest .invest_head .bottom a{
	width: 98px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #d4dade;
	color: #afbac1;
	text-align: center;
	margin-right: 30px;
	display: inline-block;
}
.invest .invest_head .bottom a.active{
	background-color: #afbac1;
	color: #fcfdfd;
}*/
.invest .invest_head .top a.active{
	color: #b2bcc3;
}
/*主体*/
.invest .invest_content{
	
}
.invest_content .list{
	width: 883px;
	margin: 0 auto;
}
.invest_content .list>li{
	padding: 26px 0 35px 0;
	border-bottom: 1px solid #dadfe2;
	padding: ;
}
.invest_content .list>li>span{
	width: 103px;
	height: 14px;
	line-height: 14px;
	margin-top: 6px;
	padding-left: 20px;
	background: url(../images/date_icon.png) no-repeat;
	color: #afbac1;
}
.invest_content .list>li>p{
	width: 740px;
	line-height: 34px;
	font-size: 24px;
	color: #676767;
}
.invest_content .more{
	width: 198px;
	height: 46px;
	line-height: 46px;
	border: 1px solid #afbac1;
	color: #436489;
	text-align: center;
	cursor: pointer;
	margin: 117px auto 50px auto;
}
