
.news_main{
	width: 1280px;
	margin: 22px auto 0 auto;
	font-size: 14px;
}
.news_main header.top{
	width: 354px;
	margin: 0 auto;
	padding-bottom: 30px;
}
.news_main header.top a{
	height: 20px;
	line-height: 20px;
	border-left: 1px solid #d9dfe2;
	border-right: 1px solid #d9dfe2;
	padding: 0 30px;
	color: #666666;
}
.news_main header.top a.active{
	color: #bac4ca;
}
/*新闻详情*/
.content{
	width: 100%;
	
}
.content .bg_img{
	width: 100%;
	display: inline-block;
}
.content .detail{
	height: 1400px;
	padding: 0 80px;
	background:-webkit-gradient(linear, 0% 0%, 0% 50%,from(#e2e2e2), to(#ffffff));
	position: relative;
}
.content .detail .news_descrip{
	width: 86%;
	background-color: #fff;
	position: absolute;
	top: -150px;
}
.detail .news_descrip header{
	padding-left: 100px;
	padding-top: 50px;
	border-bottom: 1px solid #d4dade;
}
.news_descrip header span{
	line-height: 14px;
	font-size: 12px;
	color: #bac4ca;
}
.news_descrip header span.icon{
	width: 14px;
	height: 14px;
	background: url(../images/date_icon.png);
	margin-right: 5px;
}
.detail .news_descrip header .news_title{
	height: 110px;
	line-height: 110px;
	font-size: 26px;
}
.detail .news_descrip .news_descrip_detail{
	padding: 50px 100px 0 100px;
}
.news_descrip_detail p{
	line-height: 24px;
	color: #606060;
	margin-bottom: 30px;
}
.news_descrip_detail .image{
	
}
.news_descrip_detail .image img{
	margin-bottom: 20px;
}
.news_descrip .btns{
	padding: 30px 100px 0 100px;
}
.news_descrip .btns a{
	width: 198px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border: 1px solid #d4dade;
	color: #365b83;
}
