.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mb20{
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px;
}
.mr30{
	margin-right: 30px;
}
.mr58{
	margin-right: 58px;
}
.brd9dfe2{
	border-right: 1px solid #d9dfe2;
}
.mt20{
	margin-top: 20px;
}
.service .service_list .lineHeight60{
	line-height: 60px;
}
.brd5dade{
	border-right: 1px solid #d5dade;
}
.toTop{
	width: 30px;
	height: 30px;
	text-align: center;
	border: 1px solid #000;
	position: fixed;
	bottom: 50px;
	right: 50px;
	transition: 1s;
	cursor: pointer;
	display: none;
}
.toTop:hover{
	border-color: blue;
}
.line{
	width: 100%;
	border-bottom: 1px solid #dadfe2;
	margin-bottom: 18px;
	
}
