/*===========向上提示箭头===========*/
#cover > footer {
	-webkit-animation:toup ease-in 1s 1s forwards infinite;
}
@-webkit-keyframes toup {
	0% {
		-webkit-transform:translate(-50%,0%);
		opacity: 0;
	}
	100% {
		-webkit-transform:translate(-50%,-50%);
		opacity: 1;
	}
}
/*===========page2===========*/
/*下面水柱*/
.page2 .water_coloum1 {
	animation: water_coloum1 1s linear forwards;
	-webkit-animation: water_coloum1 1s linear forwards;
}
@keyframes water_coloum1 {
	0% {
		height:0;
	}
	100% {
		height: 5.45rem;
	}
}
@-webkit-keyframes water_coloum1 {
	0% {
		height:0;
	}
	100% {
		height: 5.45rem;
	}
}
/*上面水柱*/
.page2 .water_coloum23 {
	visibility: hidden;
	animation: water_coloum23 0.53s 1s linear forwards;
	-webkit-animation: water_coloum23 0.53s 1s linear forwards;
}
@keyframes water_coloum23 {
	0% {
		visibility: visible;
		height:0;
	}
	100% {
		visibility: visible;
		height: 2.5rem;
	}
}
@-webkit-keyframes water_coloum23 {
	0% {
		visibility: visible;
		height:0;
	}
	100% {
		visibility: visible;
		height: 2.5rem;
	}
}

.page2 .water_coloum23 .wave1 {
	opacity:1;
	animation: wave1 0.5s 1.53s linear forwards;
	-webkit-animation: wave1 0.5s 1.53s linear forwards;
}
.page2 .water_coloum23 .wave2 {
	opacity:0;
	animation: wave2 0.5s 1.53s linear forwards;
	-webkit-animation: wave2 0.5s 1.53s linear forwards;
}
.page2 .water_coloum23 .wave3 {
	opacity:0;
	animation: wave3 0.5s 1.53s linear forwards;
	-webkit-animation: wave3 0.5s 1.53s linear forwards;
}
@keyframes wave1 {
	0% {
		opacity:1;z-index:101;
	}
	35% {
		opacity:1;z-index:101;
	}
	40% {
		opacity:0;z-index:100;
	}

	100% {
		opacity:1;
		z-index:101;
		
	}
}
@-webkit-keyframes wave1 {
	0% {
		opacity:1;z-index:101;
		
	}
	
	35% {
		opacity:1;z-index:101;
		
	}
	40% {
		opacity:0;z-index:100;
	}
	100% {
		opacity:1;
		z-index:101;
	}
}

@keyframes wave2 {
	0% {
		opacity:0;z-index:100;
	}
	
	35% {
		opacity:0;z-index:100;
	}
	40% {
		opacity:1;
		z-index:101;
		height: 105%;
	}
	85% {
		opacity:1;
		z-index:101;
		height: 105%;
	}
	90% {
		opacity:0;z-index:100;
		
	}
}
@-webkit-keyframes wave2 {
	0% {
		opacity:0;z-index:100;
	}
	35% {
		opacity:0;z-index:100;
	}
	40% {
		opacity:1;
		z-index:101;
		height: 105%;
	}
	85% {
		opacity:1;
		z-index:101;
		height: 105%;
	}
	90% {
		opacity:0;z-index:100;
	}

}
@keyframes wave3 {
	0% {
		opacity:0;z-index:100;
	}
	
	65% {
		opacity:0;
		z-index:100;
	}
	70% {
		opacity:1;
		z-index:101;
	}
	95% {
		opacity:1;
		z-index:101;
	}
	100% {
		opacity:0;
		z-index:100;
	}

}

@-webkit-keyframes wave3 {
	0% {
		opacity:0;z-index:100;
	}
	
	65% {
		opacity:0;
		z-index:100;
	}
	70% {
		opacity:1;
		z-index:101;
	}
	95% {
		opacity:1;
		z-index:101;
	}
	100% {
		opacity:0;
		z-index:100;
	}

}

/*多少个日夜*/
.page2 .top .text span {
	transform:scale(0);
	-webkit-transform:scale(0);
	animation: text_span 0.5s  linear forwards;
	-webkit-animation: text_span 0.5s  linear forwards;
}
@keyframes text_span {
	0% {
		transform:scale(0);
	}
	100% {
		transform:scale(1);
	}
}
@-webkit-keyframes text_span {
	0% {
		-webkit-transform:scale(0);
	}
	100% {
		-webkit-transform:scale(1);
	}
}

/*几年*/
.page2 .top li:nth-child(1).light i {
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: light 0.5s 0.2s linear forwards;
	-webkit-animation: light 0.5s 0.2s linear forwards;
}
.page2 .top li:nth-child(2).light i {
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: light 0.5s 0.7s linear forwards;
	-webkit-animation: light 0.5s 0.7s linear forwards;
}
.page2 .top li:nth-child(3).light i {
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: light 0.5s 1.2s linear forwards;
	-webkit-animation: light 0.5s 1.2s linear forwards;
}
.page2 .top li:nth-child(4).light i {
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: light 0.5s 1.7s linear forwards;
	-webkit-animation: light 0.5s 1.7s linear forwards;
}
@keyframes  light{
	0% {
		transform:scale(2);
	}
	100% {
		transform:scale(1);
	}
}
@-webkit-keyframes light {
	0% {
		-webkit-transform:scale(2);
	}
	
	100% {
		-webkit-transform:scale(1);
	}
}
/*亮起的职位*/
.page2 .water .box .bord ul li span { display: block;}
.page2 .water .box .bord ul .light span {

	animation:span_light 0.8s linear alternate infinite ;
	-webkit-animation:span_light 0.8s linear alternate infinite ;
}
@keyframes span_light {
	0% {
		transform:scale(1.2);
	}
	100% {
		transform:scale(1);
	}
}
@-webkit-keyframes span_light {
	0% {
		-webkit-transform:scale(1.2);
	}
	
	100% {
		-webkit-transform:scale(1);
	}
}


/*===========page3===========*/
/*数字*/
.page3 .text div:nth-of-type(1) span{
	display: inline-block;
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: num 0.5s 1.5s linear forwards;
	-webkit-animation: num 0.5s 1.5s linear forwards;
	opacity: 0;
}
.page3 .text div:nth-of-type(2) span{
	display: inline-block;
	transform:scale(0.8);
	-webkit-transform:scale(0.8);
	animation: num 0.5s 2s linear forwards;
	-webkit-animation: num 0.5s 2s linear forwards;
	opacity: 0;
}
@keyframes  num{
	0% {
		transform:scale(0.8);
		opacity: 1;
	}
	50% {
		transform:scale(2);
		opacity: 1;
	}
	100% {
		transform:scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes num {
	0% {
		-webkit-transform:scale(0.8);
		opacity: 1;
	}
	50% {
		-webkit-transform:scale(2);
		opacity: 1;
	}
	
	100% {
		-webkit-transform:scale(1);
		opacity: 1;
	}
}

/*===========page5===========*/
.page5 .circle .cir1,
.page5 .circle .cir3,
.page5 .circle .cir5
 {
	animation: page5_circlez 8s  linear  infinite;
	-webkit-animation: page5_circlez 8s  linear infinite;
}
.page5 .circle .cir2,
.page5 .circle .cir4
{
	animation: page5_circlef 7s  linear  infinite;
	-webkit-animation: page5_circlef 7s  linear infinite;
}
.page5 .circle .cir6
{
	animation: page5_circle35 7s  linear  infinite;
	-webkit-animation: page5_circle35 7s  linear infinite;
}
@keyframes  page5_circlez{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
@-webkit-keyframes page5_circlez {
	0% {
		-webkit-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
	}
}
@keyframes  page5_circlef{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(-360deg);
	}
}
@-webkit-keyframes page5_circlef {
	0% {
		-webkit-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(-360deg);
	}
}
@keyframes  page5_circle35{
	0% {
		transform:rotate(-35deg);
	}
	100% {
		transform:rotate(-395deg);
	}
}
@-webkit-keyframes page5_circle35 {
	0% {
		-webkit-transform:rotate(-35deg);
	}
	100% {
		-webkit-transform:rotate(-395deg);
	}
}

/*性格出现*/
.page5 .yd >div {opacity: 0;}

.page5 .yd .yd1 {
	animation: page5_yd 0.3s 1s  linear  forwards;
	-webkit-animation: page5_yd 0.3s 1s  linear forwards;
} 
.page5 .yd .yd2 {
	animation: page5_yd 0.3s 1.3s  linear  forwards;
	-webkit-animation: page5_yd 0.3s 1.3s  linear forwards;
}
.page5 .yd .yd3 {
	animation: page5_yd 0.3s 1.6s  linear  forwards;
	-webkit-animation: page5_yd 0.3s 1.6s  linear forwards;
}
.page5 .yd .yd4 {
	animation: page5_yd 0.3s 1.9s  linear  forwards;
	-webkit-animation: page5_yd 0.3s 1.9s  linear forwards;
}
.page5 .yd .yd5 {
	animation: page5_yd 0.3s 2.2s  linear  forwards;
	-webkit-animation: page5_yd 0.3s 2.2s  linear forwards;
}
@keyframes  page5_yd{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes  page5_yd{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*===========page6===========*/
.page6 .text {
	transform: translateY( 50%);
	opacity: 0;
	-webkit-transform: translateY( 50%);
	animation:page6_text 2s forwards;
	-webkit-animation:page6_text 2s forwards;
}
@keyframes  page6_text{
	0% {
		transform:scale(1.5) translateY( 50%);
		opacity: 0;
	}
	100% {
		transform:scale(1) translateY( 0);
		opacity: 1;
	}
}
@-webkit-keyframes page6_text {
	0% {
		-webkit-transform:scale(1.5) translateY( 50%);
		opacity: 0;
	}
	100% {
		-webkit-transform:scale(1) translateY( 0);
		opacity: 1;
	}
}
.page6 .fri{
	opacity: 0;
}
.page6 .fri_near1{
	opacity: 0;
	animation:page6_fri 0.5s 1s  forwards;
	-webkit-animation:page6_fri 0.5s 1s  forwards;
}
.page6 .fri_near2{
	opacity: 0;
	animation:page6_fri 0.5s 1.2s  forwards;
	-webkit-animation:page6_fri 0.5s 1.2s  forwards;
}
.page6 .fri_near3{
	opacity: 0;
	animation:page6_fri 0.5s 1.5s  forwards;
	-webkit-animation:page6_fri 0.5s 1.5s  forwards;
}
.page6 .fri_near4{
	opacity: 0;
	animation:page6_fri 0.5s 1.8s  forwards;
	-webkit-animation:page6_fri 0.5s 1.8s  forwards;
}
.page6 .fri_near5{
	opacity: 0;
	animation:page6_fri 0.5s 2s  forwards;
	-webkit-animation:page6_fri 0.5s 2s  forwards;
}
.page6 .fri_far{
	opacity: 0;
	animation:page6_fri 0.5s 2s  forwards;
	-webkit-animation:page6_fri 0.5s 2s  forwards;
}
@keyframes  page6_fri{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes  page6_fri {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*===========page6gao===========*/
.page6gao .fri_near1 span {
	-webkit-animation:page6gao_span1 5s linear infinite;
	animation:page6gao_span1 5s linear infinite;
}
.page6gao .fri_near2 span {
	-webkit-animation:page6gao_span2 5s linear infinite;
	animation:page6gao_span2 5s linear infinite;
}
.page6gao .fri_near3 span {
	-webkit-animation:page6gao_span3 5s linear infinite;
	animation:page6gao_span3 5s linear infinite;
}
.page6gao .fri_near4 span {
	-webkit-animation:page6gao_span4 5s linear infinite;
	animation:page6gao_span4 5s linear infinite;
}
.page6gao .fri_near5 span {
	-webkit-animation:page6gao_span5 5s linear infinite;
	animation:page6gao_span5 5s linear infinite;
}
@keyframes  page6gao_span1{
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
@-webkit-keyframes  page6gao_span1 {
	0% {
		-webkit-transform:rotate(0deg);
	}
	100% {
		-webkit-transform:rotate(360deg);
	}
}
@keyframes  page6gao_span2{
	0% {
		transform:rotate(30deg);
	}
	100% {
		transform:rotate(390deg);
	}
}
@-webkit-keyframes  page6gao_span2 {
	0% {
		-webkit-transform:rotate(30deg);
	}
	100% {
		-webkit-transform:rotate(390deg);
	}
}
@keyframes  page6gao_span3{
	0% {
		transform:rotate(-180deg);
	}
	100% {
		transform:rotate(180deg);
	}
}
@-webkit-keyframes  page6gao_span3 {
	0% {
		-webkit-transform:rotate(-180deg);
	}
	100% {
		-webkit-transform:rotate(180deg);
	}
}
@keyframes  page6gao_span4{
	0% {
		transform:rotate(-60deg);
	}
	100% {
		transform:rotate(-420deg);
	}
}
@-webkit-keyframes  page6gao_span4 {
	0% {
		-webkit-transform:rotate(-60deg);
	}
	100% {
		-webkit-transform:rotate(-420deg);
	}
}
@keyframes  page6gao_span5{
	0% {
		transform:rotate(-20deg);
	}
	100% {
		transform:rotate(-380deg);
	}
}
@-webkit-keyframes  page6gao_span5 {
	0% {
		-webkit-transform:rotate(-20deg);
	}
	100% {
		-webkit-transform:rotate(-380deg);
	}
}
