
/*=============公共样式============*/
.pl20 { padding-left:0.5rem;}
.pr20 { padding-right:0.5rem;}
.fl { float: left;}
.fr { float:right;}
.of {overflow: hidden;}
.none {display: none;}
.bz {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
/*清除浮动*/
.cf::after{display:block;clear:both;content:"";visibility:hidden;height:0}
.cf{zoom:1}


/*左右垂直居中*/
.tlmid {
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    left:50%; top:50%; 
    position: absolute;
}
/*左右居中*/
.lmid{
     -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    left:50%; 
    position: absolute;
}
/*垂直居中*/
.tmid{
     -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    top:50%; 
    position: absolute;
}
/*右箭头*/
.arrow_right {
    position: relative;
    padding-right: 1rem;
}
.arrow_right::before,
.arrow_right::after {
    content: "";
    width: 1px;
    height: 0.4rem;
    background: #888;
    position: absolute;
}
.arrow_right::before {
    transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0.4rem;
    top: 1.1rem;
}
.arrow_right::after {
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 0.4rem;
    top: 1.4rem;
}

/*arrow_white*/
.arrow_white {
    position: relative;
    padding-right: 1rem;
}
.arrow_white::before,
.arrow_white::after {
    content: "";
    width: 1px;
    height: 0.4rem;
    background: #fff;
    position: absolute;
}
.arrow_white::before {
    transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0.4rem;
    top: 0.65rem;
}
.arrow_white::after {
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 0.4rem;
    top: 0.9rem;
}



/*按钮公共样式*/
.btn {
    padding-top:1rem;
    width: 100%;
}
.btn  div {
    height: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    font-size: 0.85rem;
    line-height: 1;
    padding-top:0.45rem;
    padding-bottom:0.45rem;
    border-radius:0.2rem;
    border:1px solid #fa4d10;
    color: #fa4d10;
}
.btn .on {
    background: #fa4d10;
   color:#fff;
}
/*一个按钮*/
.btn_one div {
    margin:0 4%;
}
/*两个按钮*/
.btn_two div:first-child {
    float:left;
     width: 44%;
     margin-left:4%;
     background: linear-gradient(top,#fefefe,#eae9e9);
    background: -webkit-linear-gradient(top,#fefefe,#eae9e9);

}
.btn_two div:last-child {
    float:right;
     width: 44%;
     margin-right:4%;
}

/*叉号*/
.cross {
    position: absolute;
    right: 21px;
    top: 6px;
}
.cross::before,
.cross::after {
    content: "";
    width: 1px;
    height: 1rem;
    background: #dfdfdf;
    position: absolute;
}
.cross::before {
    transform:rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0.4rem;
    top: 0.6rem;
}
.cross::after {
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
    right: 0.4rem;
    top: 0.6rem;
}

/*成功*/
.success {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    background: #43aa83;
    position: absolute;
    margin: 0 auto;
}
.success::before, .success::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
}
.success::before {
    width: 0.4rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
      
    top: 0.9rem;
  
    left: 0.26rem;
}
.success::after {
    width: 0.9rem;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
     top: 0.725rem;
  
    left: 0.45rem;}


/*失败*/
.fail {
    display: block;
   
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.8rem;
    background: #bfbfbf;
    position: absolute;
    margin: 0 auto;
}
.fail::before, .fail::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    background: #fff;
}
.fail::before {
    width: 18px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
    left: 6px;
}
.fail::after {
    width: 18px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 15px;
    left: 6px;
}

/*一键删除img*/
.div_input {  position: relative;}
input {}
img.del{position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    top:0.75rem;
    right: 0rem;
    display:none;}


/*input校验错误时placeholder颜色*/   
input.error::-webkit-input-placeholder {
     color:#fa4d10;
     font-size: inherit;
}



/*已阅读并同意*/
.pact {
    margin-top:1rem;
    padding-left:0.5rem;
    display: table;

}
.pact i {
    display: table-cell;
    width: 0.975rem;
    height: 0.975rem;
    /*background: linear-gradient(top,#fefefe,#e9eff1);
    background: -webkit-linear-gradient(top,#fefefe,#e9eff1);*/
    background:url(../images/check_no.png) no-repeat center center;
    background-size: 0.975rem 0.975rem;
    vertical-align: middle; 

}
.pact i.on {
    background:url(../images/check_yes.png) no-repeat center center;
    background-size: 0.975rem 0.975rem;
}
.pact span {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.7rem;
}
.pact span a { color:#1d9df6;}
.pact .me {
    color: #6f6e6e;
    padding-left: 0.3rem;
}
.pact .xy {
    color: #3f9ee7;
    
}


/*=======底部箭头=======*/
#cover > footer {
    position: fixed;
    bottom:2%;
    width:7.5%;
    margin:0 auto;
    z-index:999;
}
#cover > footer img {
    width: 100%;
    height: auto;
}