html{
	height: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	overflow: auto;
	font-family: "微软雅黑";
}
/*头部*/
.head_box{
	width: 100%;
	height: 2.1rem;
	background-color: #ff4400;
	border-bottom: 1px solid #e24f1c;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.head_box .saoma{
	width: 1.275rem;
	height: 1.7rem;
	padding-top: 0.3rem;
	margin-left: 0.8rem;
	margin-right:1.05rem;
}
.saoma .icon{
	width: 1.125rem;
	height: 1.05rem;
	background:url(../img/bg/erweima.jpg) no-repeat 3px 0;
	background-size:100% ;
}
.saoma p{
	height: 0.65rem;
	font-size: 0.4rem;
	line-height: 0.65rem;
	color: #ffece5;
}
.head_box .search_box{
	width: 9.775rem;
	height: 1.275rem;
	margin-top: 0.5rem;
	margin-right: 1.15rem;
}
.search_box .search{
	height: 1.1rem;	
}
.search .icon1{
	width: 0.75rem;
	height: 0.75rem;
	background: url(../img/bg/fdj.jpg) no-repeat;
	background-size: 100%;
	margin: 0.15rem 0.15rem 0 0.225rem;
}
.search input{
	border: none;
	width: 7.65rem;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: 0.65rem;
	background-color:transparent;
	color: #f9fde4;
}
.search .icon2{
	width: 0.725rem;
	height: 0.675rem;
	background: url(../img/bg/memro.jpg) no-repeat;
	background-size: 100%;
	margin-top: 0.175rem;	
}
.search_box .borderbox{
	width: 9.7rem;
	height: 0.15rem;
	border: 1px solid #fffdff;
	border-top: none;
}
.head_box .message{
	padding-top: 0.15rem;
}
.message .icon{
	width: 1.325rem;
	height: 1.125rem;
	background:url(../img/bg/message.jpg) no-repeat;
	background-size:100% ;
}
.message p{
	height: 0.8rem;
	font-size: 0.4rem;
	line-height: 0.8rem;
	color: #ffece5;
}
/*内容*/
.content_box{
	width: 100%;
}
.content_box .top_pic{
	width: 100%;
	margin-top: 2.125rem;
	overflow: hidden;
	position: relative;
}
.top_pic .wrapPic{
	width: 64rem;
	overflow: auto;
}
.top_pic .wrapPic li{
	width: 16rem;
	float: left;
}
.top_pic .wrapPic img{
	width: 100%;
	display: block;
}
.top_pic .dot{
	position: absolute;
	bottom: 0.25rem;
	right: 1rem;
}
.dot li{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 0.25rem;
	background-color: paleturquoise;
	float: left;
	margin-right: 0.25rem;
}
.dot li.baclor{
	background-color: lightpink;
}

.content_box .tb_items{
	width: 100%;
	height: 5.85rem;
	padding-top: 0.525rem;
	border-bottom: 1px solid #f3f3f3;
}
.tb_items .item_list{
	width: 2.075rem;
	height: 2.625rem;
	margin: 0 0.5rem 0.3rem 0.6rem;
}
.item_list .listtitle{
	text-align: center;
	display: block;
}
.item_list .listtitle .icon{
	width: 2.075rem;
	height: 1.925rem;
	display: block;
}
.tb_items .item_list:nth-of-type(1) .icon{
	background: url(../img/bg/itemstm.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(2) .icon{
	background: url(../img/bg/itemsju.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(3) .icon{
	background: url(../img/bg/itemsjk.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(4) .icon{
	background: url(../img/bg/itemswm.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(5) .icon{
	background: url(../img/bg/itemscs.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(6) .icon{
	background: url(../img/bg/itemscz.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(7) .icon{
	background: url(../img/bg/itemslx.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(8) .icon{
	background: url(../img/bg/itemsjb.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(9) .icon{
	background: url(../img/bg/itemssh.jpg) no-repeat;
	background-size: 100%;
}
.tb_items .item_list:nth-of-type(10) .icon{
	background: url(../img/bg/itemsfl.jpg) no-repeat;
	background-size: 100%;
}
.item_list .listtitle .text{
	font-size: 0.5rem;
	line-height: 0.7rem;
	color: #7d7d7d;
	font-family: "微软雅黑";
	display: block;
}
/*淘宝头条*/
.content_box .headlines{
	width: 15.1rem;
	height: 1.25rem;
	padding: 0.225em 0 0.25rem;
	border-top: 1px solid #e4e4e4;
	margin: 0 auto;
}
.headlines .title{
	width: 2.9rem;
	height:0.85rem;
	padding: 0.2rem 0.475rem 0 0.275rem;
	border-right: 1px solid #ededed;	
}
.headlines .title span{
	width: 2.9rem;
	height:0;
	padding-top: 0.85rem;
	overflow: hidden;
	background: url(../img/bg/headlines.jpg) no-repeat;
	background-size: 100%;
	display: inline-block;
}
.subtitle .recommend_btn{
	width: 1.325rem;
	height: 0.775rem;
	line-height: 0.775rem;
	border: 1px solid #dec0c2;
	border-radius: 5px;
	font-size: 0.55rem;
	color: #d00004;
	margin: 0.225rem 0.25rem 0 0.375rem;
	text-align: center;
}
.subtitle .topic{
	width: 8.4rem;
	font-size: 0.6rem;
	line-height: 1.25rem;
	color: #181818;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.content_box .blankbox{
	width: 100%;
	height: 0.55rem;
	background-color: #eeeeee;
}
/*淘抢购*/
.content_box .tao_buying{
	width: 100%;
	height: 7.775rem;
	border-bottom: 1px solid #e1e1e1;
}
.tao_buying .left_part{
	width: 6.35rem;
	height: 7.175rem;
	padding-top: 0.6rem;
	border-right: 1px solid #e8e8e8;
}
.left_part h3{
	width: 3.275rem;
	height: 0;
	padding-top: 0.825rem;
	overflow: hidden;
	background: url(../img/bg/tqg.jpg) no-repeat;
	background-size: 100%;
	margin-left:0.6rem;
}
.left_part .nhilogo{
	width: 1.775rem;
	margin:-0.95rem 0.7rem 0  0 ;
}
.left_part p{
	width: 100%;
	font-size: 0.5rem;
	line-height: 0.825rem;
	margin-left: 0.65rem;
	color: #999999;
	white-space: nowrap;
}
.left_part .nfpic{
	width: 4.95rem;
	margin-left: 0.475rem;
}
.tao_buying .right_part{
	width: 9.625rem;
	height: 7.775rem;
}
.right_part .top_leftp{
	height: 3.075rem;
	padding-left: 0.65rem;
	border-bottom: 1px solid #ebebeb;
}
.top_leftp .title h3{
	width: 3.375rem;
	height: 0;
	padding-top: 0.825rem;
	overflow: hidden;
	background:url(../img/bg/yhhtitle.jpg) no-repeat;
	background-size: 100%;
	margin-top: 0.6rem;
}
.top_leftp .title p{
	font-size: 0.5rem;
	line-height: 0.825rem;
	color: #999999;
}
.top_leftp img{
	width: 2.225rem;
	margin:2px 0 0 1.4rem;
}
.right_part .b_leftp{
	height: 4.675rem;
}
.b_leftp li{
	width: 4.75rem;
	height: 100%;
	border-right: 1px solid #ebebeb;
}
.b_leftp .nobr{
	border-right: none;
}
.b_leftp li h3{
	height: 0;
	padding-top: 0.75rem;
	overflow: hidden;
	margin: 0.3rem 0 0.125rem 0.625rem;
}
.b_leftp li:nth-of-type(1) h3{
	width: 2.075rem;
	background:url(../img/bg/agj.jpg) no-repeat;
	background-size: 100%;
}
.b_leftp li:nth-of-type(2) h3{
	width: 2.75rem;
	background:url(../img/bg/zgzz.jpg) no-repeat;
	background-size: 100%;
}
.b_leftp li p{
	font-size: 0.5rem;
	line-height: 0.65rem;
	color: #999999;
	margin-left: 0.65rem;
}
.b_leftp li img{
	width: 3.45rem;
	margin-left: 0.65rem;
}
/*超实惠*/
.content_box .benefit{
	width: 100%;
	height: 11.675rem;
	border-bottom: 1px solid #e5e5e5;
}
.benefit .benefit_head{
	height: 1.25rem;
	padding-top:0.35rem ;
	background: url(../img/bg/titlebg.jpg) repeat-x;
	background-size: auto 100%;
}
.benefit_head h3{
	width: 3.025rem;
	height: 0.9rem;
	padding: 0 0.25rem;
	background-color: #eeeeee;
	margin: 0 auto;
}
.benefit_head h3 .icon{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../img/bg/benefit_csh.jpg) no-repeat;
	background-size: 100%;
	margin-right: 0.2rem;
}
.benefit_head h3 .title{
	font-size: 0.6rem;
	line-height: 0.8rem;
	color: #e83437;
}
.benefit .benefit_cont{
	width: 100%;
	height:10.075rem;
}
.benefit_cont .left_bc{
	width: 6.375rem;
}
.left_bc .lbc_list{
	width: 6.025rem;
	height: 4.625rem;
	padding: 0.4rem 0 0 0.35rem;
	border-bottom: 1px solid #f2f2f2;
}
.left_bc .nbb{
	border-bottom: none;
}
.left_bc li:nth-of-type(1) h3{
	width: 2.025rem;
	height: 0;
	padding-top: 0.65rem;
	overflow: hidden;
	background: url(../img/bg/jhs.jpg) no-repeat;
	background-size: 100%;
}
.left_bc li:nth-of-type(2) h3{
	width: 2.725rem;
	height: 0;
	padding-top: 0.65rem;
	overflow: hidden;
	background: url(../img/bg/tttj.jpg) no-repeat;
	background-size: 100%;
}
.left_bc .lbc_list img{
	width: 6.025rem;
}
.benefit_cont .right_bc{
	width: 9.625rem;
}
.right_bc .rbc_list{
	width: 3.175rem;
	height: 4.625rem;
	padding-top: 0.4rem;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.rbc_list img{
	width: 3.175rem;
}
.right_bc .rbc_list h3{
	width: 3.175rem;
	height: 0;
	padding-top: 0.525rem;
	overflow: hidden;
}
.right_bc .rbc_list:nth-of-type(1) h3{
	background: url(../img/bg/fcdp.jpg) no-repeat;
	background-size: 100%;
}
.right_bc .rbc_list:nth-of-type(2) h3{
	background: url(../img/bg/qqjx.jpg) no-repeat;
	background-size: 100%;
}
.right_bc .rbc_list:nth-of-type(3) h3{
	background: url(../img/bg/czlf.jpg) no-repeat;
	background-size: 100%;
}
.right_bc .rbc_list:nth-of-type(4) h3{
	background: url(../img/bg/tbtx.jpg) no-repeat;
	background-size: 100%;
}
.right_bc .rbc_list:nth-of-type(5) h3{
	background: url(../img/bg/mfsy.jpg) no-repeat;
	background-size: 100%;
}
.right_bc .rbc_list:nth-of-type(6) h3{
	background: url(../img/bg/tqc.jpg) no-repeat;
	background-size: 100%;
}
/*好品质*/
.content_box .good_quality{
	width: 100%;
	height: 11.075rem;
	border-bottom: 1px solid #e5e5e5;
}
.gq_head h3 .icon{
	background: url(../img/bg/hpz.jpg) no-repeat;
	background-size: 100%;
}
.gq_head h3 .title{
	color: #5b3089;
}
.good_quality .gq_content{
	width: 100%;
	height:9.475rem;
}
.gq_content .top_gqcontent{
	height: 4.425rem;
	border-bottom: 2px solid #f7f7f7;
}
.top_gqcontent .left_part{
	width: 9.575rem;
	border-right: 2px solid #f7f7f7;
}
.top_gqcontent .left_part img{
	width: 9.575rem;
}
.top_gqcontent .right_part img{
	width: 6.375rem;
}
.gq_content .bom_gqcontent{
	width: 100%;
	height:5.0rem;
}
.bom_gqcontent .bom_gqc_list{
	width: 3.15rem;
	border-right: 2px solid #f6f6f6;
}
.bom_gqcontent .nbr{
	border-right: none;
}
.bom_gqc_list img{
	width: 3.15rem;
}
/*--有特色--*/
.content_box .feature{
	border-bottom: none;
}
.feature_head h3 .icon{
	background: url(../img/bg/feature.jpg) no-repeat;
	background-size: 100%;
}
.feature_head h3 .title{
	color:#e19d0c;
}
.feature .feature_cont{
	width:100%
	height: 10.075rem;
}
.feature_cont .left_fc{
	width: 6.375rem;
	height: 10.075rem;
}
.left_fc .lfc_list{
	width: 6.375rem;
	height: 5.025rem;
	border-bottom: 1px solid #f2f2f2;
}
.left_fc .nbb{
	border-bottom: none;
}
.lfc_list img{
	width: 6.375rem;
}
.feature_cont .right_fc{
	width: 9.625rem;
	height: 10.075rem;
}
.right_fc .rfc_list{
	width: 3.175rem;
	height: 5.025rem;
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.right_fc .nbb{
	border-bottom: none;
}
.right_fc .rfc_list img{
	width: 3.175rem;
}
.content_box .pic_logo{
	width: 16rem;
	height: 3.2rem;
}
.pic_logo img{
	width: 16rem;
}
/*--热门市场--*/
.content_box .hot_market{
	height: 17.125rem;
}
.hot_market .hm_head{
	position: relative;
}
.hm_head h3{
	width: 3.7rem;
	height: 0.9rem;
	padding: 0 0.25rem;
	background-color: #eeeeee;
	margin: 0 auto;
}
.hm_head h3 .icon{
	background: url(../img/bg/hotmarket.jpg) no-repeat;
	background-size: 100%;
}
.hm_head h3 .title{
	color: #39a30d;
}
.hm_head .more{
	width: 1.875rem;
	height: 0.85rem;
	padding-right:0.525rem ;
	background-color: #eeeeee;
	position: absolute;
	right: 0;
	top: 0.35rem;
}
.hm_head .more .text{
	width: 1.65rem;
	height: 0.85rem;
	line-height: 0.85rem;
	font-size: 0.5rem;
	text-align: center;
	color: #676767;
}
.hm_head .more .icon{
	width: 0.225rem;
	height: 0.45rem;
	background: url(../img/bg/moreicon.jpg) no-repeat;
	background-size: 100%;
	margin-top: 0.2rem;
}
.hot_market .hm_content{
	width: 100%;
	height: 15.525rem;
}
.hm_content .top_hmc{
	width: 100%;
	height: 5.9rem;
	border-bottom: 2px solid #f6f6f6;
}
.top_hmc li{
	width: 7.975rem;
	height: 5.9rem;
}
.top_hmc li:nth-of-type(1){
	border-right: 2px solid #f6f6f6;
}
.top_hmc li img{
	width: 7.975rem;
}
.hm_content .bottom_hmc{
	width: 15.4rem;
	height: 9.575rem;
	margin: 0 auto;
}
.bottom_hmc li{
	width: 3.825rem;
	height: 4.775rem;
	border-right: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
.bottom_hmc .nbr{
	border-right: none;
}
.bottom_hmc .nbb{
	border-bottom: none;
}
.bottom_hmc li img{
	width: 3.825rem;
}
/*--达人淘--*/
.content_box .topman_buy{
	width: 100%;
	height: 9.85rem;
	border-bottom: none;
}
.topman_head h3{
	width: 3.025rem;
}
.topman_buy .tmb_content{
	width: 100%;
	height: 6.25rem;
}
.tmb_content li{
	width: 4.875rem;
	height: 6.0rem;
	margin-left: 0.275rem;
}
.tmb_content li img{
	width: 4.875rem;
}
.topman_buy .tmb_foot{
	width: 14.6rem;
	height: 2.0rem;
	line-height: 2.0rem;
	border-top: 1px solid #f3f3f3;
	margin: 0 auto;
	font-size: 0.6rem;
	color: #2c2c2c;
}
/*--猜你喜欢--*/
.content_box .guess{
	width: 100%;
	height: 18.025rem;
}
.guess .guess_head{
	width: 100%;
	height: 2.25rem;
	background: url(../img/bg/titlebg.jpg) repeat-x;
	background-size: auto 100%;
}
.guess_head .title{
	width: 4.55rem;
	height: 1.175rem;
	padding: 0.475rem 1.8rem 0;
	background-color: #eeeeee;
	margin: 0 auto;
}
.guess_head .title img{
	width: 4.55rem;
}
.guess .guess_content{
	width: 100%;
	height: 15.775rem;
}
.guess_content li{
	width: 7.95rem;
	height: 7.825rem;
	border-right: 4px solid #ededed;
	border-bottom: 5px solid #ededed;
}
.guess_content .nbr{
	border-right: none;
}
.guess_content .nbb{
	border-bottom: none;
}
.guess_content li img:nth-of-type(1){
	width: 7.95rem;
}
.guess_content li p{
	font-size: 0.55rem;
	line-height: 1.05rem;
	color: #969696;
	text-indent: 0.45rem;
}
/*实时推荐*/
.content_box .recommend{
	width: 100%;
	border-bottom: 1px solid #d3d4d6;
	background-color: #eeeeee;
	position: relative;
}
.recommend .recommend_head{
	width: 100%;
	height: 1.425rem;
	line-height: 1.425rem;
	font-size: 0.5rem;
	text-align: center;
	color: #636363;
	overflow: hidden;
}
.recommend .recommend_contmain{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	overflow: hidden;
}
.recommend_contmain .rc_list{
	width: 7.925rem;
	height: 11.25rem;
	background-color: #ffffff;
	margin-bottom: 0.15rem;
}
.rc_list img{
	width: 7.925rem;
}
.rc_list .pic_decor{
	width: 7.2rem;
	height: 1.7rem;
	padding: 0.175rem 0 0 0.375rem;
	line-height: 0.85rem;
	font-size: 0.55rem;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
	color: #666666;
}
.rc_list .price{
	width: 7.2rem;
	height: 1.125rem;
	padding-left: 0.375rem;
	line-height: 1.125rem;
	color: #fc4e00;
}
.price span:nth-of-type(1){
	font-size: 0.4rem;
	margin-right: 0.25rem;
}
.price span:nth-of-type(2){
	font-size: 0.55rem;
}
.price img{
	width: 1.65rem;
	margin-top: 0.45rem;
}
.recommend .recommend_foot{
	width: 100%;
	height: 6.5rem;
	margin-bottom: 1.825rem;
}
.recommend_foot h3{
	width: 100%;
	height: 1.4rem;
	padding-top: 0.475rem;
	font-size: 0.5rem;
	line-height: 1.4rem;
	text-align: center;
}
.recommend_foot img{
	width: 14.95rem;
	height: 4.075rem;
	margin: 0 auto;
	display: block;
}
/*底部*/
.foot_box{
	width: 100%;
	height: 1.825rem;
	padding-top: 0.125rem;
	background-color: #f9f9f9;
	position: absolute;
	left: 0;
	bottom: 0;
}
.foot_box ul{
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.foot_box ul .icon{
	width: 1.75rem;
	height: 1.625rem;
}
.foot_box ul li:nth-of-type(1){
	background: url(../img/bg/foot1.jpg) no-repeat;
	background-size: 100%;
}
.foot_box ul li:nth-of-type(2){
	background: url(../img/bg/foot2.jpg) no-repeat;
	background-size: 100%;
}
.foot_box ul li:nth-of-type(3){
	background: url(../img/bg/foot3.jpg) no-repeat;
	background-size: 100%;
}
.foot_box ul li:nth-of-type(4){
	background: url(../img/bg/foot4.jpg) no-repeat;
	background-size: 100%;
}
.foot_box ul li:nth-of-type(5){
	background: url(../img/bg/foot5.jpg) no-repeat;
	background-size: 100%;
}
.backtop{
	width: 2.0rem;
	height: 2.0rem;
	background-color: rgba(255,255,255,0.8);
	border-radius: 50%;
	position: absolute;
	right: 0.6rem;
	bottom: 3.4rem;
}
.backtop .icon{
	width: 0.85rem;
	height: 1.275rem;
	background: url(../img/bg/backtop.png) no-repeat;
	background-size: 100%;
	display: inline-block;
	margin:0.45rem 0 0 0.6rem;
}
