@charset "utf-8";
body{
	font-family:微软雅黑;
	font-size:16px;
}
body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,img,p,pre,textarea,blockquote,fieldset{
	margin:0;
	padding:0;
}
/* html,body{
	width:100%;
	height:100%;
} */
html{
	padding-left:2%;
}
ul,ol,li{
	list-style-type:none;
}
.insNameClose{
	  background: url(../../images/common/select2.png) no-repeat right 2px;
	  width: 20px;
	  height: 15px;
	  display: inline-block;
	  cursor: pointer;
}
a{
	text-decoration:none;
}
i{
	font-style:normal;
}
.clearfix:after{
	clear:both;
	content:" ";
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.clearfix{
	clear:both;
	display:block;
	content:"";
}
.clear{
	clear:both;
	display:block;
	content:"";
}


.required{
	background:url(../images/required.png) no-repeat 6px center;
}


.container{
	width:1130px;
	position:relative;
}
.section{
	margin-bottom:10px;
}
.section .title{
	color:#083540;
	position:relative;
	font-size:18px;
}
#title{
	padding-top:20px;
	color:#5a5a5a;
	font-weight:bold;
	font-size:18px;
}
.section .title input{
	background:none;
	border:none;
	color:#4589ad;
	cursor:pointer;
}
.section .status{
	background:url(../../images/member/status.png) no-repeat left bottom;
	width:22px;
	height:22px;
	position:absolute;
	right:5px;
	top:5px;
	display:block;
	cursor:pointer;
}
.section ul{
	clear:both;
	zoom:1;
}

.page {
    font-size: 14px;
    margin: 0 15px 5px 0;
    text-align: right;
}
.page a,.page span{
    color: #777;
    margin: 0 5px;
}
.page a.currentPageButton,.page span.currentPageButton{
    color: #111;
    font-weight: bold;
    font-size:16px;
}
.page span.prompt {
    float: left;
}
.page .prompt .num {
    color: #f00;
    margin: 0 8px;
}
textarea{
	resize:none;
}