.PageNext{
	page-break-after:always;
}


.box{
	width: 90%;
	margin: 0 auto;
}
.box h2{
	font: 28px/100px "微软雅黑";
	text-align: center;
}

/*报告时间*/
.box .PreTime{
	text-align: right;
	font-family: "微软雅黑";
	padding-right: 50px;
	font-size:16px;
}

/*时间区域部分*/
.box .timeRegion{
	/*width: 100%;*/
	padding: 30px;
	background-color: #f7f7f7;
	margin-bottom: 60px;
}
.timeRegion div{
	font: 16px "微软雅黑";
	color: #878787;
	line-height: 40px;
}
.timeRegion div span{
	color: #000;
}
.timeRegion .Region{
	word-break:break-all;
}
/*图表部分*/
.box .chart{
	width: 100%;
	background-color: #f7f7f7;
	margin-bottom: 60px;
}


/*数据表格*/
.box .dataForm{
	width: 100%;
	background-color: #f7f7f7;
	margin-bottom: 60px;
}
.dataForm h3,.chart h3{
	padding-left:100px;
	line-height: 60px;
	margin-left:200px;
}

.chart .titleText,.dataForm .titleText{
	width:750px;
	font-size:16px;
	margin-left:30px;
	margin-bottom:50px;
	line-height:20px;
}
.dataForm h3 .dataCompare,.chart h3 .dataCompare{
	font-size: 28px;
	font-family: "黑体";
	margin-left: 40px;
	font-weight: normal;
}
.dataForm .tab{
	width: 100%;
	margin: 0 auto;
}
.tab tr{
	height: 40px;
	text-align: center;
}

.tab td,.tab th{
	border: 1px solid #e6e6e6;
	background-color: #fff;
}
.tab th{
	font: 16px "微软雅黑";
	background-color: #1eb4ab;
	text-align: center;
}


/*大数据总结*/
.box .summary{
	width: 100%;
	background-color: #f7f7f7;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.summary h3{
	font-size: 26px;
	font-family: "黑体";
	line-height: 80px;
}
.summary ul{
	font: 14px "微软雅黑";
}
.summary ul span{
	font-size: 20px;
	font-family: "微软雅黑";
	margin: 0 10px;
	color:#ff4200;
}
.summary ul span.medicineName{
	color:#000;
	font-size:16px;
}
.summary ul span.show,.summary ul span.hide{
	width: 14px;
    height: 14px;
    background-size:100%;
	cursor:pointer;
	display:inline-block;
}
.summary ul span.show{
	background-image:url(../images/hide.png);
}
.summary ul span.hide{
	background-image:url(../images/Open.png);
}
.summary ul li{
	margin-top:15px ;
}
.summary h4{
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
}

.summary .tab2{
	width:800px;
}
.summary .medicine .tab2{
	width:100%;
}
.summary .tab2 .textColor{
	color:#ff4200;
}
.tab2 tr{
	height: 40px;
	text-align: center;
}
.tab2 td,.tab2 th{
	border: 1px solid #e6e6e6;
	background-color: #fff;
	text-align: center;
}
.medicine .tab2 th{
	background-color:#1eb4ab;
}
.tab2 th{
	font: 16px "黑体";
}
.situation{
	margin-top: 50px;
}
.situation p{
	font-size:16px;
}
