input:focus,textarea:focus{
  border-color: #66afe9 !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  border-radius:3px;
}
input[readonly='readonly']:focus{
	border-color: #c8c8c8 !important;;
	-webkit-box-shadow: none;
  	box-shadow: none;
  	border-radius:0;
}
input{
	text-indent:5px;
}
textarea{
	padding:2px 5px;
}
select{
	background:transparent;
}
.EMRnumber{	
	color: #a0a0a0;
}
.allEMR{
	overflow: hidden;
}
.EMR{
	float: left;
	width: 50%;
	padding-right: 5px;
}
.EMR textarea{
	padding:5px;
}
.EMRhistory{
	float: right;
	width: 50%;
	padding-left: 5px;
}
.EMRhistory .toShow{
	line-height: 40px;
	background: #fff;
	border-bottom: 1px solid #c8c8c8;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	cursor: pointer;
	display: none;
}
.EMRhistory .toShow:after{
	position: absolute;
	margin-top: 18px;
	margin-left: 3px;
	content: "";	
	width: 0px;
	height: 0px;
	border-top:5px solid #c8c8c8;
	border-right:5px solid transparent;
	border-left:5px solid transparent;	
}
.EMRhistory .toHide{
	line-height: 40px;
	background: #fff;
	border-bottom: 1px solid #c8c8c8;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	cursor: pointer;
	padding-bottom: 10px;
}
.EMRhistory .toHide:after{
	position: absolute;
	margin-top: 18px;
	margin-left: 3px;
	content: "";	
	width: 0px;
	height: 0px;
	border-bottom:5px solid #c8c8c8;
	border-right:5px solid transparent;
	border-left:5px solid transparent;	
}
.EMRhistory .tab-content textarea,.EMRhistory .tab-content .wordsAmount{	
	display:none;
}
.EMRheader{
	text-align: center;
	font-size: 16px;	
	margin-bottom: 10px;
}
.EMRcontent{
	border: 1px solid #c8c8c8;
	background: #fff;	
}
.EMR .EMRcontent{
	min-height:500px;
	}
ul.nav-tabs{
	border-bottom: 0;
}
.EMRcontent .nav-tabs li{
	width: 33.3%;	
	background: #F0F0F0;	
}
.EMRcontent .nav-tabs li a{
	font-size: 16px;
	color:#a0a0a0;
	text-align: center;
	margin: 0;
	line-height: 20px;	
	border-radius: 0;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}
.EMRcontent .nav-tabs li.active{
	color: #5a5a5a;
	background: #fff;	
	border: 0;	
}
.EMRcontent .nav-tabs li a:hover{
	border-color: transparent transparent transparent #c8c8c8; 
}
/*基本信息*/
.BaseList{
	margin: 36px;
	overflow: hidden;
	padding: 0;
}
.BaseList li{
	list-style: none;
	float: left;
	width: 270px;
	line-height: 42px;
}
.BaseList li input,.BaseList li select{
	color: #5a5a5a;
	border: 0;
	width: 180px;
	line-height: 40px;
	vertical-align: middle; 	
}
.BaseList li select{
	width: 140px;
}
label.baseLabel{
	color: #a0a0a0;
	vertical-align: middle; 
	margin-bottom: 0;
	font-weight: normal;
}
.noArrow:after{
	content: "";
	background: #fff;
	width: 40px;
	height: 40px;
	position: absolute;
	margin-left: -39px;
}
ul li.longData{
	width: 100%;
	clear: both;
}
table.searchTable{	
	width: 80%;
  	min-width: 400px;
	margin: 20px auto 10px auto;
	border-collapse: collapse;
	border-spacing: 0;	
}
table.searchTable th{
	border: 1px solid #c8c8c8;
	font-weight: normal;
	background: #A5E2DD;
	line-height: 40px;
	font-size: 16px;
	text-align: center;		
}
table.searchTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	font-size: 16px;
	text-align: center;		
}
table.searchTable td a{
	color: #71C8C2;
	cursor:pointer;	
	text-decoration: underline;
}
.allEMR .searchList{
	width: 600px;
	margin: 10px auto 0 auto;	
	margin-top: 10px;
}
.allEMR .searchList li{
	width: 240px;
}
.searchList label{
	font-size: 14px;
}
.allEMR .searchList li input,.allEMR .searchList li select{
	width: 150px;
}
/*健康相关*/
.healthEMR{
	margin: 10px 32px 50px 32px;
}
span.Unit{
	 position: absolute;
	 margin-left:115px;
  	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);  		
}
.toCenter{
	width: 500px;
	margin: 0 auto;
}
.healthEMR .secTitle{
	height: 1px;
	background: #56C7C0;
	width: 100%;
	margin: 26px 0;
	text-align: center;
}
.healthEMR .secTitle span{
	display: inline-block;
	position: absolute;
	margin-top: -10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #56C7C0;
	background: #fff;
	padding: 0 10px;
}
.secondTitle{
	margin-left: -14px;
	line-height: 40px;
	font-weight:bold;
}
.healthList{
	overflow: hidden;
}
.healthList li{
	width: 225px;
	line-height: 50px;
	float: left;
	list-style: none;
}
.healthList li input,.healthList li select{
	width: 120px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #c8c8c8;
}
.healthLabel{
	color: #5a5a5a;
	width: 64px;
	display: inline-block;
}
.allergy{

}
.allergy th,.allergy td{
	vertical-align: top;
	line-height: 36px;
	text-align: center;
	width: 200px;
}
.allergy input,.allergy select{
	width: 170px;
	line-height: 26px;
	height: 26px;
  	border: 1px solid #c8c8c8;
  	margin:0 7px;
}
.allergy th,.disease th{
	color: #5a5a5a;
	font-weight: normal;	
}
.addButton{
	overflow: hidden;
	margin-top: 20px;
}
.addButton button{
	border: 1px solid #56C7C0;
	color: #56C7C0;
	width: 64px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	float: right;
	background: #fff;
	padding: 0;
	vertical-align: top;
}
.addButton button:before{
	vertical-align:top;
	content: "＋";
	font-size: 24px;	
	line-height: 26px;
	display: inline-block;
}
.disease th,.disease td{
	vertical-align: top;
	line-height: 36px;
	text-align: center;	
}
.disease input,.disease select{
	width: 170px;
	line-height: 26px;
	height: 26px;
  	border: 1px solid #c8c8c8;
  	margin:0 7px;
}

.habitsList{
	overflow: hidden;
}
.habitsList li{
	width: 250px;
	line-height: 50px;
	float: left;
	list-style: none;
}
.habitsList li input,.habitsList li select{
	width: 120px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #c8c8c8;
}
.habitsLabel{
	color: #5a5a5a;
	width: 100px;
	display: inline-block;
	text-align: right;
}
.habitsList textarea{
	display: inline-block;
	vertical-align: top;
	width: 370px;
	height: 82px;
	resize: none;
	line-height: 20px;
	border: 1px solid #c8c8c8;
}
.habitsList p{
	display: inline-block;
	vertical-align: top;
	width: 370px;
	line-height: 20px;
}
/*就诊记录*/
.recordsTitle{	
	margin-top: 30px;
	margin-bottom: 26px;	
	text-align: center;
	color: #5a5a5a;
	font-size:16px;
	font-weight:bold;
}
.recordsUnit{
	margin: 0 20px 25px 25px;
}
.recordsLabel{
	display: inline-block;
	width: 70px;	
	vertical-align:top;
	color: #5a5a5a;	
}
.recordsUnit textarea{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);	
	height: 82px;
	resize: none;
	line-height: 20px;
	border: 1px solid #c8c8c8;
}
.recordsUnit p{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);	
	line-height: 20px;	
}
.diagnosis,.prescription,.examination,.doctorSaid,.isOk{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);
}
.diagnosis input{
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #c8c8c8;
	line-height:30px;
}
.diagnosis .addButton{
	margin-top:0;
}
.searchBox select{
	width: 130px;
	height: 30px;
	border: 1px solid #c8c8c8;
	margin-right: 10px;
}
.doctorSaid textarea{
	width: 100%;
	height: 82px;
	border: 1px solid #c8c8c8;
	margin-top: 10px;
}
.wordsAmount{	
	margin-top: -20px;
	margin-right: 5px;
	text-align: right;
	color: #c8c8c8;
	font-size: 12px;
}

/*扫描件*/
.box{	
	overflow: hidden;
	margin:10px 20px 20px 20px;	
}
li.scanUnit{
	list-style: none;
	float: left;
	margin: 20px 10px;
	cursor:pointer;	
}
li.scanUnit img{
	width: 46px;
	height: 46px;
	margin: 10px auto;
}
li.scanUnit div{
	color: #5a5a5a;
	text-align: center;
}

li.shadowBox{
	list-style: none;
	position: relative;
	width: 102px;
	height: 72px;
	margin: 20px 8px;
	float: left;	
}
li.shadowBox div{	
	z-index:1;	
	position: absolute;
	background: #fff;
	width:102px;
	height:72px;
	top:0;
	left:0;		
	cursor:pointer;	
	border: 1px solid #efefef;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
}
li.shadowBox:before{
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	left: 15px;
	bottom:9px;
	background: transparent;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	transform: skew(-12deg) rotate(-4deg);
	-moz-transform: skew(-12deg) rotate(-4deg);
	-webkit-transform: skew(-12deg) rotate(-4deg);
	-ms-transform: skew(-12deg) rotate(-4deg);
	-o-transform: skew(-12deg) rotate(-4deg);	
}
li.shadowBox:after{
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	right: 15px;
	bottom:9px;
	background: transparent;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	transform: skew(12deg) rotate(4deg);
	-moz-transform: skew(12deg) rotate(4deg);
	-webkit-transform: skew(12deg) rotate(4deg);
	-ms-transform: skew(12deg) rotate(4deg);
	-o-transform: skew(12deg) rotate(4deg);	
}
li.shadowBox div img{
	display: block;
	width: 96px;
	height: 66px;
	margin: 2px;
}

/*编辑电子处方弹窗*/
.prescriptionBox .dialog,.examinationPop .dialog{
	width: 1240px;
	min-height: 730px;
}
.pophead{
	text-align: center;
	color: #5a5a5a;
	font-size: 20px;
	margin: 20px auto;
}
.popBox .BaseList{
	width: 880px;
	margin: 36px auto 20px auto;
}
.prescriptionDetail{	
	margin: 0 20px;	
}
.medicineBox{
	max-height:220px;
	overflow-y:auto;
	overflow-x:hidden;
}
.medicineTable{
	border-spacing: 0;
	border-collapse: collapse;	
}
.medicineTable th,.medicineTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
	padding: 1px 4px;
	font-size: 16px;
}
.medicineTable input,.medicineTable select{
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #c8c8c8;
	text-align: center;
}
button.deleteButton{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	outline: 0;
}
.EMR button.deleteTr{
	border: 1px solid #56C7C0;
	width: 64px;
	height: 28px;
	line-height: 28px;
}
.medicineTable .addButtonMedicine{
	margin-top: 7px;	
}
.medicineTable .addButtonMedicine button{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	float: right;
	outline: 0;
}
.livingPrescription{
	margin-top: 20px;
}
.livingPrescription .lptitle{
	font-size: 16px;
	color: #5a5a5a;
	line-height: 40px;
}
.livingPrescription .livPresBox{
	width: 1200px;
	border: 1px solid #c8c8c8;
	overflow: hidden;	
}
.livingPrescription .livPresBox .product{
	width: 800px;
	float: left;	
}
.livingPrescription .livPresBox .app{
	margin-left: 800px;
	border-left: 1px solid #c8c8c8;
	height: 124px;
}
.livingPrescription .livPresBox ul.lpList{
	overflow: hidden;
	margin: 0;
}
.livingPrescription .livPresBox ul.lpList li{
	float: left;
	width: 400px;
	list-style: none;
	line-height: 40px;
	padding-left: 40px;
}
.livPresBox ul.lpList li label{
	font-weight: normal;
	width: 230px;
	margin-bottom: 0;
}
.livingPrescription .livPresBox .app ul.lpList li{
	width: 190px;
	padding-left: 60px;
}
.livPresBox .app ul.lpList li label{
	width: 95px;
}
.prescriptionBox .tip{
	text-align: center;
	font-size: 12px;
}
.savePrescription{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.borderTop{
	border-top:1px solid #c8c8c8;
}

/*编辑检查建议*/
.examinationDetail{
	margin: 40px 80px;
	overflow: auto;
	min-height: 200px;	
}
.exTitle{
	text-align: center;
	color: #5a5a5a;
	margin-bottom: 20px;
	font-size: 16px;
}
.examin{
	width: 50%;
	float: left;
}
.exTable{
	width: 500px;
	color: #5a5a5a;
	border-spacing: 0;
	border-collapse: collapse;
}
.exTable caption{
	line-height: 40px;
	background: #DCDCDC;
	text-align: center;
	padding: 0;
}
.exTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	vertical-align: middle;
}
td.number{
	width: 40px;
	text-align: center;
}
.exTable td input{
	margin-left: 10px;
	border: 1px solid #c8c8c8;
	line-height: 28px;
	width: 370px;
}
.deleteButtonExamination{
	color: #56C7C0;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;	
	outline: 0;
	vertical-align: middle;
}
.addButtonExamination{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	float: right;
	outline: 0;
}
.examineList{
	padding:5px;
	color:#5a5a5a;
	overflow:hidden;
	border:1px solid #c8c8c8;
	display:none;
	font-size:16px;
}
.examineLeft{
	text-align:right;
	line-height:28px;
	width:50px;
	float:left;
}
.examineRight{
	margin-left:50px;
	line-height:28px;	
}
.edit{
	float:right;
	margin-top:10px;
	display:none;
}
.EMR .presList{
	display:none;
}
.presList table{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.presList th,.presList td{
	padding:2px;
	border:1px solid #c8c8c8;
	line-height:20px;
	color:#5a5a5a;
	text-align:center;	
}
.presList table div{	
	text-align:center;
	min-width:23px;
	margin:0 auto;		
}
div.hidden{
	display:none;
}
div.lepuMedicinePrice:before{
	content:"￥";
}
.presList table div.lepuMedicinePrice{
	width:50px;
}
.presList table div.Specifications{
	width:100px;	
	word-break:break-all;
}
.livPresTitle{
	text-indent:1em;	
}
.presList .livPresShow span{
	display:inline-block;
}
.presList .productName{
	width:calc(100% - 70px);
	text-indent:1em;
}

.presList .livPresShow .productPrice{
	display:none;
	width:70px;
}
.presList .productPrice:after{
	content:"元";	
}
.appShow ul{
	margin:20px 5px;
	overflow:hidden;
}
.appShow ul li{
	width:90px;
	float:left;
}
.appShow ul li div{
	text-align:center;
}
.appShow ul li div img{
	width:80px;
	height:80px;
}
.presList .livPresShow{
	line-height:40px;	
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;	
}
.presList .totalFeeShow,div.notation{
	line-height:28px;
	text-align:right;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;
	border-bottom:1px solid #c8c8c8;
	padding:0 10px;	
}
div.notation{
	color:#f00;
}
.presList .totalFeeShow:before{
	content:"药品总价：";	
}
.presList .totalFeeShow:after{
	content:"元";
}
.saveBox,.managerSaveBox{
	margin:30px auto;
	text-align:center;
}
.saveBox button+button{
	margin-left:30px;
}
.prescriptionBox .productPrice{
	display:none;
}
/* 模糊搜索 */
div.fuzzySearch{
	border:1px solid #c8c8c8;
	position:absolute;
	margin-left:10px;		
	line-height:26px;
	background:#fff;
	text-align:left;
	color:#5a5a5a;
	border-radius:3px;
	cursor:pointer;
	display:none;
	-webkit-box-shadow: 3px 3px 3px  0 #c8c8c8;
	box-shadow: 3px 3px 3px  0 #c8c8c8;
	max-height:260px;
	overflow-y:scroll;
	z-index:1;	
}
div.fuzzySearch ul{
	margin:0;	
}
div.fuzzySearch ul li{
	padding-right:10px;
	padding-left:2px;
}
div.fuzzySearch ul li.isLepu1{
	color:#ff5d1d;	
}
div.fuzzySearch ul li:hover{
	background:#0EABD4;
	color:#fff;	
}
/* .medicineTr td{
	position:relative;
}
.medicineTr td div.fuzzySearch{
	width:560px;
	top:120%;
	left:0;
}  */

.laydate_box, .laydate_box *{
    box-sizing:content-box;
}
#pl_content{
	margin-top:10px;
	width:100%;
	height:150px;
	display:block;
	padding:10px;
	border:1px solid #c8c8c8;
}
div.modal{
	z-index:1;	
}
div.modal-dialog{
	margin-top:100px;
}
.required:before{
	content:'*';
	color:red;
	margin-left: -8px;
    position: absolute;
}

/* 数据验证 */
.errorLepuInfo{
	border:1px solid #f00 !important;
}
.validLepuInfoBox:after{
	content: "√";
	position: absolute;  
  	margin-left: 5px;
  	font-size: 18px;
  	color:#1eb4ab;
}
label.error{
	color:#f00;
}
#records .error{
	margin-left: 70px;
}
.diagnosisInput,.recordMainData{
	position:relative;
}
.diagnosisInput .error{
    position: absolute;
    right: 80px;
    top: 5px;
    color: #f00;
}
.recordMainData:after{
	top:0px;
	right:-15px;
	margin:0;
}
.modal .wordsAmount{
	margin:0;
}

/* 新版诊断 */
.diagnosis ul{
	overflow:hidden;
	margin:10px 0;
}
.diagnosis ul li{
	width:130px;
	margin:5px 0;
	float:left;
}
.diagnosis ul li label{
	margin:0;
	cursor:pointer;
	font-weight:normal;
	
}
.lepuDiagNormal{
	margin-top: -15px;
	border-bottom:1px solid #c8c8c8;
}
.lepuDiagHeart{
	padding-left:130px;
}
.heartLabel{
	position:absolute;
	margin-left:-130px;
	margin-top:5px;
}
.diagNormal,.diagHeart{
	margin-bottom:10px;
}
.diagHeart{
	display:none;
}
.diagHeart:before{
	content:'冠心病：';
}
.diagHeart:after{
	content:'';
}
.lepuDiag span{
	display:inline-block;
	padding:2px 5px;
	margin-bottom:10px;
	margin-right:10px;
	border-radius:5px;
	background:#1eb4ab;
	color:#fff;
}
div.doctorSaid p{
	width:100%;
}