.EMRnumber{
	text-align: right;
	color: #a0a0a0;
}
.allEMR{
	overflow: hidden;
}
.EMR{
	float: left;
	width: 50%;
	padding-right: 5px;
}
.EMR textarea{
	padding:5px;
}
.EMRhistory{
	float: right;
	width: 50%;
	padding-left: 5px;
}
.EMRhistory .toShow{
	line-height: 40px;
	background: #fff;
	border-bottom: 1px solid #c8c8c8;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	cursor: pointer;
	display: none;
}
.EMRhistory .toShow:after{
	position: absolute;
	margin-top: 18px;
	margin-left: 3px;
	content: "";	
	width: 0px;
	height: 0px;
	border-top:5px solid #c8c8c8;
	border-right:5px solid transparent;
	border-left:5px solid transparent;	
}
.EMRhistory .toHide{
	line-height: 40px;
	background: #fff;
	border-bottom: 1px solid #c8c8c8;
	text-align: center;
	color: #a0a0a0;
	font-size: 14px;
	cursor: pointer;
	padding-bottom: 10px;
}
.EMRhistory .toHide:after{
	position: absolute;
	margin-top: 18px;
	margin-left: 3px;
	content: "";	
	width: 0px;
	height: 0px;
	border-bottom:5px solid #c8c8c8;
	border-right:5px solid transparent;
	border-left:5px solid transparent;	
}		
.EMRheader{
	text-align: center;
	font-size: 16px;	
	margin-bottom: 10px;
}
.EMRcontent{
	border: 1px solid #c8c8c8;
	background: #fff;	
}
ul.nav-tabs{
	border-bottom: 0;
}
.EMRcontent .nav-tabs li{
	width: 25%;	
	background: #F0F0F0;	
}
.EMRcontent .nav-tabs li a{
	font-size: 16px;
	color:#a0a0a0;
	text-align: center;
	margin: 0;
	line-height: 20px;	
	border-radius: 0;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}
.EMRcontent .nav-tabs li.active{
	color: #5a5a5a;
	background: #fff;	
	border: 0;	
}
.EMRcontent .nav-tabs li a:hover{
	border-color: transparent transparent transparent #c8c8c8; 
}
/*基本信息*/
.BaseList{
	margin: 36px;
	overflow: hidden;
	padding: 0;
}
.BaseList li{
	list-style: none;
	float: left;
	width: 220px;
	line-height: 42px;
}
.BaseList li input,.BaseList li select{
	color: #5a5a5a;
	border: 0;
	width: 150px;
	line-height: 40px;
	vertical-align: middle; 	
}
.BaseList li select{
	width: 140px;
}
label.baseLabel{
	color: #a0a0a0;
	vertical-align: middle; 
	margin-bottom: 0;
	font-weight: normal;
}
.noArrow:after{
	content: "";
	background: #fff;
	width: 40px;
	height: 40px;
	position: absolute;
	margin-left: -39px;
}
ul li.longData{
	width: 100%;
	clear: both;
}
table.searchTable{	
	width: 80%;
 	min-width: 400px;
	margin: 20px auto 10px auto;
	border-collapse: collapse;
	border-spacing: 0;	
}
table.searchTable th{
	border: 1px solid #c8c8c8;
	font-weight: normal;
	background: #A5E2DD;
	line-height: 40px;
	font-size: 16px;
	text-align: center;		
}
table.searchTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	font-size: 16px;
	text-align: center;		
}
table.searchTable td a{
	color: #71C8C2;
	cursor:pointer;	
	text-decoration: underline;
}
.allEMR .searchList{
	width: 500px;
	margin: 10px auto 0 auto;	
	margin-top: 10px;
}
.allEMR .searchList li{
	width: 196px;
}
.searchList label{
	font-size: 14px;
}
.allEMR .searchList li input,.allEMR .searchList li select{
	width: 110px;
}
/*健康相关*/
.healthEMR{
	margin: 10px 32px 50px 32px;
}
.toCenter{
	width: 454px;
	margin: 0 auto;
}
.healthEMR .secTitle{
	height: 1px;
	background: #56C7C0;
	width: 100%;
	margin: 26px 0;
	text-align: center;
}
.healthEMR .secTitle span{
	display: inline-block;
	position: absolute;
	margin-top: -10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #56C7C0;
	background: #fff;
	padding: 0 10px;
}
.secondTitle{
	margin-left: -14px;
	line-height: 40px;
}
.healthList{
	overflow: hidden;
}
.healthList li{
	width: 225px;
	line-height: 50px;
	float: left;
	list-style: none;
}
.healthList li input,.healthList li select{
	width: 106px;
	line-height: 26px;
	border: 1px solid #c8c8c8;
}
.healthLabel{
	color: #5a5a5a;
	width: 64px;
	display: inline-block;
}
.allergy{

}
.allergy th,.allergy td{
	line-height: 30px;
	text-align: center;
	width: 200px;
}
.allergy input,.allergy select{
	width: 106px;
	line-height: 26px;
	height: 26px;
  	border: 1px solid #c8c8c8;
}
.allergy th,.disease th{
	color: #5a5a5a;
	font-weight: normal;	
}
.addButton{
	overflow: hidden;
	margin-top: 20px;
}
.addButton button{
	border: 1px solid #56C7C0;
	color: #56C7C0;
	width: 64px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	float: right;
	background: #fff;
	padding: 0;
	vertical-align: top;
}
.addButton button:before{
	content: "＋";
	font-size: 24px;	
	line-height: 26px;
	display: inline-block;
}
.disease th,.disease td{
	line-height: 30px;
	text-align: center;
	width: 150px;
}
.disease input,.disease select{
	width: 106px;
	line-height: 26px;
	height: 26px;
  	border: 1px solid #c8c8c8;
}

.habitsList{
	overflow: hidden;
}
.habitsList li{
	width: 225px;
	line-height: 50px;
	float: left;
	list-style: none;
}
.habitsList li input,.habitsList li select{
	width: 86px;
	line-height: 26px;
	border: 1px solid #c8c8c8;
}
.habitsLabel{
	color: #5a5a5a;
	width: 100px;
	display: inline-block;
	text-align: right;
}
.habitsList textarea{
	display: inline-block;
	vertical-align: top;
	width: 320px;
	height: 82px;
	resize: none;
	line-height: 20px;
	border: 1px solid #c8c8c8;
}
/*就诊记录*/
.recordsTitle{
	margin-top: 30px;
	margin-bottom: 26px;
	color: #5a5a5a;
	text-align: center;
}
.recordsUnit{
	margin: 0 20px 25px 15px;
}
.recordsLabel{
	color: #5a5a5a;
	width: 70px;
	display: inline-block;		
}
.recordsUnit textarea{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);	
	height: 82px;
	resize: none;
	line-height: 20px;
	border: 1px solid #c8c8c8;
}
.diagnosis,.prescription,.examination,.doctorSaid{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 70px);
}
.diagnosis input{
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #c8c8c8;
	line-height:30px;
}
.diagnosis .addButton{
	margin-top:0;
}
.searchBox select{
	width: 106px;
	height: 30px;
	border: 1px solid #c8c8c8;
	margin-right: 10px;
}
.doctorSaid textarea{
	width: 100%;
	height: 82px;
	border: 1px solid #c8c8c8;
	margin-top: 10px;
}
.wordsAmount{
	margin-top:-20px;
	margin-right: 5px;
	text-align: right;	
	color: #c8c8c8;
	font-size: 12px;
}

/*扫描件*/
.box{	
	overflow: hidden;
	margin:10px 20px 20px 20px;	
}
li.scanUnit{
	list-style: none;
	float: left;
	margin: 20px 10px;
	cursor:pointer;	
}
li.scanUnit img{
	width: 46px;
	height: 46px;
	margin: 10px auto;
}
li.scanUnit div{
	color: #5a5a5a;
	text-align: center;
}

li.shadowBox{
	list-style: none;
	position: relative;
	width: 102px;
	height: 72px;
	margin: 20px 8px;
	float: left;	
}
li.shadowBox div{	
	z-index:1;	
	position: absolute;
	background: #fff;
	width:102px;
	height:72px;
	top:0;
	left:0;		
	cursor:pointer;	
	border: 1px solid #efefef;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.27),0px 0px 60px rgba(0,0,0,0.1) inset;
}
li.shadowBox:before{
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	left: 15px;
	bottom:9px;
	background: transparent;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	transform: skew(-12deg) rotate(-4deg);
	-moz-transform: skew(-12deg) rotate(-4deg);
	-webkit-transform: skew(-12deg) rotate(-4deg);
	-ms-transform: skew(-12deg) rotate(-4deg);
	-o-transform: skew(-12deg) rotate(-4deg);	
}
li.shadowBox:after{
	content: '';
	position: absolute;
	width: 80%;
	height: 80%;
	right: 15px;
	bottom:9px;
	background: transparent;
	box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow: 0px 8px 20px rgba(0,0,0,0.6);
	transform: skew(12deg) rotate(4deg);
	-moz-transform: skew(12deg) rotate(4deg);
	-webkit-transform: skew(12deg) rotate(4deg);
	-ms-transform: skew(12deg) rotate(4deg);
	-o-transform: skew(12deg) rotate(4deg);	
}
li.shadowBox div img{
	display: block;
	width: 96px;
	height: 66px;
	margin: 2px;
}

/*编辑电子处方弹窗*/
.prescriptionBox .dialog,.examinationPop .dialog{
	width: 1020px;
	min-height: 730px;
}
.pophead{
	text-align: center;
	color: #5a5a5a;
	font-size: 20px;
	margin: 20px auto;
}
.popBox .BaseList{
	width: 880px;
	margin: 36px auto 20px auto;
}
.prescriptionDetail{
	margin-left: 20px;	
}
.medicineTable{
	border-spacing: 0;
	border-collapse: collapse;
	margin: 20px 0;
}
.medicineTable th,.medicineTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	font-weight: normal;
	text-align: center;
	padding: 1px 4px;
	font-size: 16px;
}
.medicineTable input,.medicineTable select{
	width: 80px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #c8c8c8;
	text-align: center;
}
button.deleteButton{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	outline: 0;
}
.medicineTable .addButtonMedicine{
	margin-top: 7px;	
}
.medicineTable .addButtonMedicine button{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	float: right;
	outline: 0;
}
.livingPrescription{
	margin-top: 20px;
}
.livingPrescription .lptitle{
	font-size: 16px;
	color: #5a5a5a;
	line-height: 40px;
}
.livingPrescription .livPresBox{
	width: 960px;
	border: 1px solid #c8c8c8;
	overflow: hidden;	
}
.livingPrescription .livPresBox .product{
	width: 640px;
	float: left;	
}
.livingPrescription .livPresBox .app{
	margin-left: 640px;
	border-left: 1px solid #c8c8c8;
	height: 123px;
}
.livingPrescription .livPresBox ul.lpList{
	overflow: hidden;
	margin: 0;
}
.livingPrescription .livPresBox ul.lpList li{
	float: left;
	width: 320px;
	list-style: none;
	line-height: 40px;
	padding-left: 20px;
}
.livPresBox ul.lpList li label{
	font-weight: normal;
	width: 230px;
	margin-bottom: 0;
}
.livingPrescription .livPresBox .app ul{
	padding-top: 20px;
}
.livingPrescription .livPresBox .app ul.lpList li{
	width: 158px;
	padding-left: 40px;
}
.livPresBox .app ul.lpList li label{
	width: 95px;
}
.prescriptionBox .tip{
	text-align: center;
	font-size: 12px;
}
.savePrescription{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*编辑检查建议*/
.examinationDetail{
	margin: 40px 20px;
	overflow: auto;
	min-height: 200px;	
}
.exTitle{
	text-align: center;
	color: #5a5a5a;
	margin-bottom: 20px;
	font-size: 16px;
}
.examin{
	width: 50%;
	float: left;
}
.exTable{
	width: 460px;
	color: #5a5a5a;
	border-spacing: 0;
	border-collapse: collapse;
}
.exTable caption{
	line-height: 40px;
	background: #DCDCDC;
	text-align: center;
	padding: 0;
}
.exTable td{
	border: 1px solid #c8c8c8;
	line-height: 40px;
	vertical-align: middle;
}
td.number{
	width: 40px;
	text-align: center;
}
.exTable td input{
	margin-left: 10px;
	border: 1px solid #c8c8c8;
	line-height: 28px;
	width: 330px;
}
.deleteButtonExamination{
	color: #56C7C0;
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;	
	outline: 0;
	vertical-align: middle;
}
.addButtonExamination{
	color: #56C7C0;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	background: #fff;
	padding: 0;
	border: 0;
	text-decoration: underline;
	float: right;
	outline: 0;
}
.examineList{
	padding:5px;
	color:#5a5a5a;
	overflow:hidden;
	border:1px solid #c8c8c8;
	display:none;
	font-size:16px;
}
.examineLeft{
	text-align:right;
	line-height:28px;
	width:50px;
	float:left;
}
.examineRight{
	margin-left:50px;
	line-height:28px;	
}
.edit{
	float:right;
	margin-top:10px;
	display:none;
}
.EMR .presList{
	display:none;
}
.presList table{
	border-collapse: collapse;
	border-spacing: 0;
}
.presList th,.presList td{
	padding:2px;
	border:1px solid #c8c8c8;
	line-height:20px;
	color:#5a5a5a;
	text-align:center;	
}
.presList table div{	
	text-align:center;
	width:23px;
	margin:0 auto;		
}
div.hidden{
	display:none;
}
div.lepuMedicinePrice:before{
	content:"￥";
}
.presList table div.lepuMedicinePrice{
	width:50px;
}
.presList table div.Specifications{
	width:40px;	
	word-break:break-all;
}
.presList .livPresShow{
	line-height:40px;
	padding:5px;
	border-left:1px solid #c8c8c8;
	border-right:1px solid #c8c8c8;	
}
.presList .totalFeeShow{
	line-height:40px;
	text-align:right;
	border:1px solid #c8c8c8;
	padding-right:10px;	
}
.presList .totalFeeShow:before{
	content:"总价：";	
}
.presList .totalFeeShow:after{
	content:"元";
}
