a, a:hover,a:link, a:active, a:visited {
    color: #fff;
    outline: medium none;
    text-decoration: none;
}
ul{
    margin:0;
}
html,body,.container{
    height:100%;
}
.container{
    width:100%;
    padding:0;
}
.clear{
    clear: both;
}
hr{
    margin:3px 0px;
}
.f-right{
    float:right !important;
}
.left-nav{
    background: #0eabd4 none repeat scroll 0 0;
    color: #fff;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    width: 200px;
    z-index: 10;
}
.right-content{
    height: 100%;
    margin-left: 200px;
    max-width: 100%;
    min-width: 1080px;
   /* background: #ccc;*/
    overflow-y: hidden;
    padding-bottom:35px;
    color:#333;
}
.left-nav .lepu-u-logo{
    margin: 30px auto;
}
.left-nav .lepu-u-title {
    margin-top: 60px;
}
.left-nav .lepu-u-title h2 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: lighter;
}
.left-nav .nav {
    background: #0092b4 none repeat scroll 0 0;
    margin-top: 36px;
    text-align: left;
}
.left-nav .fnav {
    padding-left: 15px;
}
.left-nav .fnav span{
    width: 13px;
    display: inline-block;
    background-position: center;
}
.left-nav .fnav .tip1 {
    background: rgba(0, 0, 0, 0) url("../images/tip1.png") no-repeat scroll center;
}
.left-nav .fnav .tip2 {
    width: 15px;
    background: rgba(0, 0, 0, 0) url("../images/tip2.png") no-repeat scroll center;
}
.left-nav .fnav .tip3 {
    width: 15px;
    background: rgba(0, 0, 0, 0) url("../images/tip3.png") no-repeat scroll center;
}
.left-nav .nav li a {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    padding-left: 20px;
}
.left-nav .nav .snav {
    background: #0e5f70 none repeat scroll 0 0;
}
.left-nav .nav .snav li a {
    display: block;
    padding-left: 40px;
}
.right-content .right-head ul{
    margin: 3px 0px;
    padding-right:20px;
}
.right-content .right-head li {
    border-right: 1px solid #ccc;
    color: #333;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
.right-content .right-head li.f-right{
    border:none;
}
.right-content .right-head li .glyphicon-user{
    color:#9d9d9d;
}
.right-content .right-head .right-tips{
    display:inline-block;
    width:100%;
    margin:5px 0px;
}
.right-content .right-head .right-tips li{
    border:none;
    height: 20px;
    line-height: 20px;
}
.right-content .right-head .right-tips span{
    display:inline-block;
    background: #0eacd4;
    border-radius: 6px;
    min-width:30px;
    height:20px;
    padding:0px 8px;
    text-align: center;
    margin-left:10px;
    color:#fff;
}
.right-tips .btn-sm{
    padding:1px 10px;
}
.sub-page{
    background: #fff;
}
div.tabs-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cacacd #cacacd #e6e6e6;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.tabs-header, .tabs-tool {
    background: #f2f2f2 none repeat scroll 0 0;
}
ul.tabs {
    border-bottom: 1px solid #cacacd;
}
.tabs li a.tabs-inner {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #cacacd;
    border-radius: 0;
    color: #5a5a5a;
    padding: 0 15px;
}
div.panel-body{
    overflow-y: hidden;
    /*padding-bottom:30px!important;*/
}
.tabIframe{
    width:100%;
    height:100%;
    overflow: auto;
}
.active{
	background-color:#0a5565;
}



