.container{
    width: 100%;
    padding: 0;
    margin: 0;
}
.docs-galley .title{
	padding-top:20px;
	padding-left:20px;
	text-align:left;
	font-size:16px;
	font-weight:bold;
}
.docs-pictures{
    text-align: center;
}
.docs-pictures li{
    float: left;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
}
.docs-pictures li img{
    width: 180px;
    height:180px;
}
.docs-pictures li span{
    display: inline-block;
    padding: 10px 0px;
    clear: both;
}

