html,body,.content{
    height: 100%;
    overflow:hidden;
}
.content{
    width: 100%;
    padding: 15px;
    background: #e6e6e6;
    overflow:auto;
}
.condition{
	height:200px;
	background-color:#fff;
	display:inline-block;
	vertical-align:middle;
	margin-bottom:40px;
}
.leftBox{
	width:75%;	
}
.rightBox{
	width:20%;
	margin-left:5%;	
}
ul.presSta{
	margin:25px;
}
ul.presSta li{
	line-height:36px;	
}
.seleBox {
    background:#1eb4ab none repeat scroll 0 0;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    color: #fff;
}
.select-box span{
	color:#5a5a5a;
	display:inline-block;
	width:70px;
	text-align:right;
}
.select-box select{
	border:1px solid #c8c8c8;
	width:175px;
	height:30px;
}
.choose-conditions{
    padding: 15px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 15px;
}
.choose-conditions li.select-box{
    float: left;
    width: 30%;
    font-size:14px;
    margin:10px;
}
.choose-conditions li.btn-box{
    text-align: center;
}
.choose-conditions li input{
    height: 30px;
    line-height: 30px;
}
.table-box table{
    background: #fff;
}
.table-box table th,.table-box table td{
    text-align: center;
    color:#5a5a5a !important;
}
.table-box table th{
    background: #d1d1d1;
}
.table-box table td button{
	border:0;
	background:none;
	text-decoration:underline;
	color:#1EB4AB;
	width: 100%;
	margin-right: 0;
}
.table{
	margin-bottom:0;
}
.table-box .table td{
	vertical-align: middle;
	line-height:40px;
}
table.table td button+button{
	margin-left:30px;
	background: #5bb95c;
	border:0;
}
table.table td button+button:hover{
	background: #3ba33b;
}
.table-box .table .smallTable td{
	line-height:30px;
	background:#f2f2f2;	
}
.smallTable{
	margin:12px 0 32px 0;
}
.smallTable .Open{
	width:20px;
	height:20px;
	background: url(../images/Open.png);
	background-size:100%;
	position: absolute;
	top:10px;
	right:40px;
	cursor: pointer;
}

.table-box .table .smallTable table th{
	background:#f2f2f2;
	border-bottom-width: 1px;
} 
#laydate_box,#laydate_box *{
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
} 
