html,body,.content{
    width:100%;
    height:100%;
    overflow: auto;
}
a, a:hover,a:link, a:active, a:visited {
    color: #fff;
    outline: medium none!important;
    text-decoration: none!important;
}
.bac-1eb4ab{
    background: #1eb4ab !important;
}
.col-71c8c0{
    color: #71c8c0 !important;
}
input,select,textarea{
   border:1px solid #c8c8c8;
}
input{
    text-indent: 5px;
}
.content{
    padding:15px;
    background: #e6e6e6 none repeat scroll 0 0;
}
.seleBox{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background: #1eb4ab;
    padding: 0px 15px;
}
.seleBox span{
    display: inline-block;
    margin-right:30px;
    color:#fff;
}
.content table{
    background: #fff;
    font-size:14px !important;
}
table th,table td{
    text-align: center!important;
    vertical-align: middle!important;
}
table thead th{
    background: #ccc;
}
table thead.bdlb th{
    background: #d1d1d1;
}
table thead.bac-b2e4e1 th{
    background: #b2e4e1 !important;
}
.btn{
    padding:3px 12px;
}
/*table td a.btn{
    display: inline-block;
    margin-bottom:10px;
}*/
.content table .drugstore-name{
    max-width:400px;
}
.content .choose-conditions{
    background: #fff;
    padding: 25px;
    margin-bottom: 15px;
    padding-left:47px;
}
.content .choose-conditions li{
    display: inline-block;
    margin-right:60px;
    width: 230px;
    line-height: 40px;
    height:40px;
}
.content .choose-conditions li span:first-child{
    display: inline-block;
    margin-right:15px;    
    width: 80px;
    text-align:right;
    color:#1eb4ab;
}
.content .choose-conditions li + li{
    margin-bottom: 15px;
}
.content .choose-conditions li input,.content .choose-conditions li select{
    height:30px;
    width:144px;
    line-height: 30px;
}
.content .choose-conditions li select{
    margin-left:-4px;
}
/*日期控件的重置开始*/
.laydate_box,.laydate_box>*{
    box-sizing: content-box!important;
}
.laydate_body .laydate_ym input,.laydate_body .laydate_choose{
    height:22px!important;
    line-height: 22px!important;
}
.laydate_body .laydate_y .laydate_yms ul li {
    width: 58px!important;
}
/*日期控件的重置结束*/
.halfEM{
    display: inline-block;
    width: 0.5em;
}
.twoEM{
    display: inline-block;
    width: 2em;
}
input[type='radio'],input[type='checkbox']{
    width:15px !important;
    height:15px !important;
    margin-right:3px;
}
.content .choose-conditions li label{
    cursor: pointer;
    display: inline-block;
    width: 40px;
}
.content .choose-conditions li label + label{
    margin-left:30px;
}
.content .choose-conditions li.radio-box{
    display:block;
    margin-top:30px;
}
.textarea-box textarea{
    width:90%;
    height:8em;
}
.btn-box{
    padding: 30px;
    text-align: center;
}
.content .muban-list li{
    display: block;
}
.content .muban-list li + li{
    margin-top: 15px;
}
.content .muban-list li select{
    margin-left:0px;
}
.content .muban-list .textarea-box textarea{
    margin-left:4px;
}
.txt-con{
    vertical-align: top;
}
.content .chufang-box{
    margin-top:-15px;
    background: #fff;
    border-top: 1px solid #d6d6d6;
    padding-right: 47px;
}
.content .chufang-box td span{
    display: inline-block;
    width:3em;
    text-align: center;
}
tr.btn-box td.bor-r{
    border-right:none;
}
tr.btn-box td.bor-l{
    border-left: none;
}
.life-style{
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}
.life-style>span{
    float: left;
    display: inline-block;
    width:10%;
}
.life-box{
    float: left;
    display: inline-block;
    width:90%;
    border: 1px solid #e6e6e6;
}
.life-head{
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}
.life-left,.life-right{
    float: left;
    display: inline-block;
}
.life-left{
    width: 60%;
    height:100%;
    padding: 15px;
}
.life-style label{
    display: inline-block;
    min-width: 150px;
    font-weight: lighter;
}
/*.life-left label + label{
    margin-right: 30px;
}
.life-style label.firstchild{
    margin-right: 30px;
}*/
.life-right{
    width: 40%;
    border-left:1px solid #e6e6e6;
    padding: 15px;
    overflow: hidden;
}
.life-right table,.life-right table td{
    border:none !important;
}
.life-foot{
    padding: 15px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.statement-box{
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
/*修改密码*/
.content .reset-pwd ul{
    margin: 0px auto;
    width: 800px;
}
.content .reset-pwd li{
    width: 800px;
    display: block;
    float: none;
}
.content .reset-pwd li + li{
    margin-top:30px;
}
.content .reset-pwd li span{
    width: 150px;
    display: inline-block;
}
.content .reset-pwd li input{
    width: 400px;
    height:30px !important;
    line-height: 30px;
}
.content .reset-pwd .btn-box .btn-default{
    color:#333;
}
.content .reset-pwd .btn-box a{
    margin-right:50px;
}
/*加号*/
.content .jiahao form{
	margin-top:	75px;
    text-align: center;
}
.content .jiahao li{
    display: block;
    width: 100%;
    float: none;
    padding-bottom: 10px;
}
.content .jiahao li span.title{
    display: inline-block;
    padding: 20px 30px;
    font-size:18px;
}
.content .jiahao li label{
    width:150px;
    font-weight: lighter;
    text-align:left;
}
/*加号模态框*/
.modal-dialog{
    top: 30%;
    position:absolute;
    left:50%;
    margin-left:-300px;
}
.modal-dialog .modal-content{
    min-height: 200px;
}
.modal-dialog h4,.modal-body{
    text-align: center;
}
.modal-dialog .btn-cancel{
    color: #333;
}
.modal-body{
    font-size: 16px;
}
.modal-footer{
    text-align: center;
}
.modal-footer .btn{
    padding: 6px 20px;
}
.wcjz-modal-body{
    text-align: left;
}
.wcjz-modal-body label{
    font-weight: lighter;
}
.wcjz-modal-body textarea{
    width: 100%;
    height: 100px;
}
.modal-body span{
    display: inline-block;
    padding: 0px 20px;
    color: #337ab7;
}
/*视频时间模态框*/
.spsj-modal-body{
    padding-left:30px;
    text-align: left;
}
.spsj-modal{
    text-align: center;
}
/*检查建议*/
.content .examine-box .head h4{
    text-align: center;
    padding: 20px;
}
.content .examine-box {
    padding-left: 15px;
}
.content .examine-box .examine-content{
    overflow: hidden;
}
.content .examine-box .examine-content>div{
    width:48%;
    float: left;
}
.content .examine-box .examine-content .right-box{
    margin-left: 4%;
}
.content .examine-box table th{
    background: #dcdcdc;
}
.content .examine-box table td:nth-child(2){
    border-right:none;
}
.content .examine-box table td:nth-child(3){
    border-left:none;
}
.content .examine-box table td input{
    width: 60%;
}
.border{
	border:1px solid #c8c8c8;
}

.content .choose-conditions li.singleLine{
	width:100%;
	margin-right:0;
}
li.singleLine span{
	position:absolute;	
}
li.singleLine div{
	line-height:40px;
	padding-left:95px;	
}











































